.btn-chat
    @if $screenColor == green
        background-color: $bgColorSecondary
    @else if $screenColor == turquoise
        background-color: #116162
    @else
        background-color: $bgColorSecondary
    width: 100%
    padding: 10px 0 9px
    font-size: 1.8rem
    color: $white
    text-transform: uppercase
    border: 1px solid $white
    font-weight: 600
    line-height: 1.5
    display: block
    text-align: center
    border-radius: 5px
    &:hover
        color: $white
        background-color: $btnColorPrimary
    i
        margin-right: 5px
        font-size: 2.5rem
        display: inline-block
        line-height: 1
        vertical-align: middle
        margin-bottom: 3px
.btn-order
    display: block
    border-radius: 5px
    width: 100%
    padding: 20px 0
    background-color: $btnColorPrimary
    border: 1px solid $white
    text-align: center
    color: $white
    text-transform: uppercase
    font-size: 1.8rem
    font-weight: 700
    &:hover
        background-color: $btnColorSecondary
.btn-discount
    font-weight: 300
    font-size: 1.6rem
    text-transform: uppercase
    padding: 5px 0
    border: 1px solid $white
    border-radius: 5px
    display: block
    width: 100%
    color: $white
    text-align: center
    &:hover
        color: $white
        background-color: $btnColorPrimary
.btn-read-more
    @if $screenColor == green
        background-color: $bgColorSecondary
    @else if $screenColor == turquoise
        background-color: #116162
    @else
        background-color: $bgColorSecondary
    display: block
    text-align: center
    color: $white
    text-transform: uppercase
    padding: 15px 0
    border-radius: 5px
    font-size: 1.8rem
    font-weight: 600
    &:hover
        color: $white
        background-color: $btnColorPrimary
    i
        margin-right: 3px
        font-size: 1.8rem
        display: inline-block
        line-height: 1
        padding-top: 5px
        font-weight: 600
.btn-footer
    display: block
    position: absolute
    +sizes(32px, 32px)
    background-color: $btnColorPrimary
    right: 30px
    bottom: -15px
    border: 1px solid $white
    text-align: center
    padding-top: 2px
    font-size: 2rem
    color: $white
    font-weight: 700
    &:hover
        background-color: $btnColorSecondary
        color: $black
    &:visited
        color: $white
    &.active i
        transform: rotate(180deg)
.btn-order-form
    @if $screenColor == green
        color: $bgColorSecondary
        border: 2px solid $bgColorSecondary
    @else if $screenColor == turquoise
        color: #116162
        border: 2px solid #116162
    @else
        background-color: $bgColorSecondary
    display: inline-block
    padding: 8px 35px
    height: 40px
    font-size: 1.4rem
    text-align: center
    i
        margin-right: 10px
.btn-testimonials
    @if $screenColor == green
        background-color: $bgColorSecondary
    @else if $screenColor == turquoise
        background-color: #116162
    @else
        background-color: $bgColorSecondary
    display: block
    width: 100%
    padding: 10px 0
    color: $white
    text-transform: uppercase
    text-align: center
    font-weight: 700
    &:hover
        background-color: $btnColorSecondary
