.about
    .why-us
        .section-title
            padding-bottom: 40px
            padding-top: 0
            h3
                margin-bottom: 0
        .btn-order
            margin-top: 30px
    .contact-content
        strong
            color: $black
            font-size: 1.7rem
            line-height: 1
    .contact-form
        margin-top: 50px
        .green-content
            padding: 35px 60px
            span
                display: inline-block
                width: 100px
            input
                margin-bottom: 20px
                padding: 10px
                width: 100%
            textarea
                width: 100%
                height: 100px
                resize: none
                padding: 10px
            .btn-order
                padding: 10px
                margin-top: 20px
                i
                    margin-right: 10px
                    font-weight: 700
    .live-chat-info
        .call-now
            padding-top: 5px
        .call-now, .toll-free
            font-size: 2rem
            a
                color: $black
        .btn-chat
            margin-top: 5px
