.blog
    padding-top: 50px
    padding-bottom: 50px
    .post
        padding-bottom: 50px
        &:nth-last-child(2)
            padding-bottom: 0
        &:nth-child(odd)
            .line-dashed .circle
                background-color: $bgColorSecondary
        &:nth-child(even)
            .line-dashed .circle
                background-color: $btnColorSecondary
    .line-dashed
        border-left: 1px dashed $textColor
        position: relative
        .circle
            +sizes(15px, 15px)
            border-radius: 50%
            display: inline-block
            margin-left: -5px
            position: absolute
            left: -3px
            top: 50%
    .blog-content
        padding: 30px 30px 50px 30px
        border: 1px solid $border-blog
    .left-info
        text-align: center
        .data
            background-color: $btnColorPrimary
            border: 1px dashed $textColor
            border-bottom: none
            padding: 20px 0
            color: $white
            font-size: 1.5rem
            .day, .month, .year
                display: block
            .day
                font-size: 2.4rem
        .comments
            @if $screenColor == green
                background-color: $bgColorPrimary
            @else if $screenColor == turquoise
                background-color: #00cccb
            @else
                background-color: $bgColorPrimary
            border: 1px dashed $textColor
            padding: 20px 0
            span
                margin-bottom: 2px
                display: block
            .number-comment
                font-size: 2.4rem
    .right-blog
        .blog-image
            img
                width: 100%
        .posted
            text-transform: uppercase
            font-size: 1.6rem
            font-weight: 300
            color: $textColorBlog
            padding: 20px 0
            a
                font-weight: 400
                color: $textColorBlog
        .name-of-blog
            padding-bottom: 30px
            a
                font-size: 3.6rem
                color: $textColorSecondary
                line-height: 1
        .continue-reading
            .btn-read-more
                width: 30%
                border-radius: 0
                margin-top: 15px
    .blog-navigation
        text-align: right
        .nav
            li
                display: inline-block
                a
                    display: block
                    +sizes(20px, 20px)
                    font-size: 1.1rem
                    text-align: center
                    padding-top: 2px
                    color: $textColor
                    border: 1px solid $gray
                    &.active
                        background-color: $btnColorPrimary
                        color: $white
