.discount
    .color-section
        h3
            color: $btnColorPrimary
        .first-order
            margin-top: 20px
            margin-bottom: 20px
            padding: 30px 0
            text-align: center
            background-color: $btnColorPrimary
            background-image: url(../img/first-order.png)
            background-repeat: no-repeat
            background-position: left 10px top 10px
            span
                font-size: 5rem
                font-weight: 700
                color: $white
                text-shadow: -1px 1px 1px rgba(0,0,0,.75)
    .discount-items
        padding: 30px 0
        .discount-item
            p
                padding-top: 20px
        .discount-5
            background-image: url(../img/discount.png)
            background-size: 100% 100%
            padding: 10px 0
            width: 100%
            height: 100%
            background-repeat: no-repeat
            text-align: center
            margin-bottom: 25px
            span
                display: block
                margin-left: 100px
                font-size: 2rem
                text-transform: uppercase
            .number
                font-size: 5rem
                font-weight: 700
                line-height: 1
                color: $btnColorPrimary
