.faq
    .section-title
        padding-bottom: 30px
    .bg-title
        margin-top: 10px
        cursor: pointer
    article
        margin-bottom: 10px
        ul li
            padding-left: 40px
