.footer
    position: relative
    .footer-top
        @if $screenColor == green
            background-color: $bgColorSecondary
        @else if $screenColor == turquoise
            background-color: #116162
        @else
            background-color: $bgColorSecondary
        position: relative
        padding: 25px 0
        .logo
            position: relative
            z-index: 5
            a
                display: block
                background-color: #ccd3dd
                border: 2px solid $white
                text-align: center
                padding: 10px 0
                img
                    text-align: center
                    display: inline-block
    .footer-contact
        text-align: center
        padding-top: 10px
        font-size: 1.4rem
        color: $white
        position: relative
        p
            color: $white
            line-height: 1.5
            a
                color: $white
    .footer-info
        border: 2px solid $white
        padding: 20px
        position: relative
        p
            color: $white
            line-height: 1.5
            font-weight: 300
            font-size: 1.2rem
    .footer-bot
        background-color: $bgColorFooter
        padding: 15px 0
        .social
            justify-content: flex-start
            color: $white
            position: relative
            a
                display: inline-block
                margin-right: 10px
                margin-left: 10px
                &:first-child
                    margin-left: 30px
        .copyright
            padding-top: 5px
            p
                color: $white
