.header
    position: relative
    .header-top
        @if $screenColor == green
            background-color: $bgColorSecondary
        @else if $screenColor == turquoise
            background-color: #116162
        @else
            background-color: $bgColorSecondary
        padding: 10px 0
        font-size: 1.8rem
        color: $white
        a span, i
            font-size: 2.4rem
            color: $white
        .toll-free
            margin-top: 3px
        .call-now
            text-align: center

    .header-nav
        padding: 10px 0
        .logo
            img
                width: 100%
                height: auto
        ul
            float: right
            margin-top: 20px
            font-size: 1.4rem
            font-weight: 700
            li
                display: inline-block
                margin-left: 10px
                a
                    color: $textColorSecondary
                    text-transform: uppercase
                    &:hover
                        color: $btnColorPrimary
                        border-bottom: 4px solid $btnColorPrimary
                        padding-bottom: 10px
                .active
                    color: $btnColorPrimary
                    border-bottom: 4px solid $btnColorPrimary
                    padding-bottom: 10px
    .header-middle
        @if $screenColor == green
            background-color: $bgColorPrimary
        @else if $screenColor == turquoise
            background-color: #00cccb
        @else
            background-color: $bgColorPrimary
        padding-top: 50px
        .btn-chat
            margin-top: 10px
        .multi-bg
            width: 100%
            height: 432px
            background-image: url(../img/img_boy.png), url(../img/img_books_lamp.png), url(../img/light.png)
            background-position: bottom left, bottom right, bottom -40px right 145px
            background-size: 488px 322px, 188px 431px, 760px 430px
            background-repeat: no-repeat, no-repeat, no-repeat
        .header-middle-title
            font-size: 5.2rem
            display: inline-block
            font-weight: 700
            float: right
            text-transform: uppercase
            color: $white
        .header-middle-title2
            font-size: 3.6rem
            display: inline-block
            font-weight: 600
            float: right
            text-transform: uppercase
            color: $white
            margin-top: 20px
        .header-info
            color: $black
            font-weight: 300
            text-align: left
            padding-left: 40px
            padding-top: 15px
            h5
                font-size: 2.7rem
                text-transform: uppercase
                color: $black
                text-align: left
                padding: 10px 0
            p
                font-size: 2rem
    .header-footer
        @if $screenColor == green
            background-color: $bgColorSecondary
        @else if $screenColor == turquoise
            background-color: #116162
        @else
            background-color: $bgColorSecondary
        padding: 10px 0
        .btn-discount
            margin-top: 4px
        p
            color: $white
            font-size: 1.8rem
            padding-top: 5px
            a
                color: $white
                font-weight: 700
    .burger
        background-color: transparent
        border: none
        display: block
        float: right
        margin-right: 15px
        margin-top: 15px
        outline: none
        +transition(.5s)
        .burger-line
            width: 30px
            height: 3px
            margin-bottom: 5px
            display: block
            background-color: $black
            +transition(.5s)
            &:last-child
                margin-bottom: 0
        &.active
            margin-top: 20px
            & .burger-line-top
                transform: rotate(135deg)
            & .burger-line-mid
                opacity: 0
                transition-duration: .1s
            & .burger-line-bot
                transform: rotate(45deg)
                margin-top: -15px
