.home
    .advantages-items
        width: 100%
    .advantages-item
        @if $screenColor == green
            background-color: $bgColorPrimary
        @else if $screenColor == turquoise
            background-color: #00cccb
        @else
            background-color: $bgColorPrimary
        display: block
        color: $textColor
        text-align: center
        padding: 40px 0
        width: 100%
        margin-bottom: 30px
        transition: background-color .2s ease-in-out
        height: 165px
        .icon-ad-icon
            +sprite($s-icon1)
        .icon-ad-icon2
            +sprite($s-icon2)
        .icon-ad-icon3
            +sprite($s-icon3)
        .icon-ad-icon4
            +sprite($s-icon4)
        .icon-ad-icon5
            +sprite($s-icon5)
        .icon-ad-icon6
            +sprite($s-icon6)
        span
            display: block
            text-transform: uppercase
            font-size: 1.4rem
            margin-top: 20px
        &:hover
            background-color: $btnColorPrimary
            color: $white
            & .icon-ad-icon
                +sprite($s-icon1h)
            & .icon-ad-icon2
                +sprite($s-icon2h)
            & .icon-ad-icon3
                +sprite($s-icon3h)
            & .icon-ad-icon4
                +sprite($s-icon4h)
            & .icon-ad-icon5
                +sprite($s-icon5h)
            & .icon-ad-icon6
                +sprite($s-icon6h)
    .info-company
        .section-title
            padding-top: 20px
            text-transform: uppercase
        .info-paragraph
            column-count: 2
    .how-it-works
        @if $screenColor == green
            background-color: $bgColorPrimary
        @else if $screenColor == turquoise
            background-color: #00cccb
        @else
            background-color: $bgColorPrimary
        padding: 80px 0
        margin-top: 50px
        .icon-text
            display: flex
            span
                font-size: 1.6rem
                text-transform: uppercase
                &.span-top
                    padding-top: 20px
                    padding-left: 10px
                &.span-bottom
                    padding-bottom: 20px
                    padding-left: 10px
                &.span-top-right
                    padding-top: 30px
        .section-title
            padding-top: 0
            h2
                color: $white
        .border-bottom
            border-bottom: 1px dashed $textColor
        .step-icon-top
            display: flex
            align-items: center
            flex-direction: column
            position: relative
            bottom: -8px
            .step-square
                +sizes(70px, 70px)
                background-color: $btnColorPrimary
                text-align: center
                padding-top: 20px
                color: $white
                display: inline-block
                border: 1px solid $textColor
            .step-line
                display: inline-block
                width: 1px
                height: 70px
                background-color: $textColor
            .step-circle
                +sizes(15px, 15px)
                background-color: $bgColorSecondary
                border-radius: 50%
                display: inline-block

        .step-icon-bottom
            display: flex
            align-items: center
            flex-direction: column
            position: relative
            top: -8px
            .step-square
                +sizes(70px, 70px)
                background-color: $btnColorPrimary
                text-align: center
                padding-top: 20px
                color: $white
                display: inline-block
                border: 1px solid $textColor
            .step-line
                display: inline-block
                width: 1px
                height: 70px
                background-color: $textColor
            .step-circle-yellow
                +sizes(15px, 15px)
                background-color: $btnColorSecondary
                border-radius: 50%
                display: inline-block
    .list-info
        .btn-read-more
            margin-top: 35px
