.how-it-works
    .step
        padding-top: 30px
        .step-title
            margin-bottom: 25px
        h3
            text-align: left
            padding-top: 15px
        .step-icon
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
        .step-square
            +sizes(70px, 70px)
            background-color: $btnColorPrimary
            text-align: center
            padding-top: 20px
            color: $white
            display: inline-block
            border: 1px solid $textColor
            i
                font-size: 3rem
        .step-line
            display: inline-block
            width: calc(100% - 85px)
            height: 1px
            background-color: $textColor
        .step-circle
            +sizes(15px, 15px)
            background-color: $bgColorSecondary
            border-radius: 50%
            display: inline-block
            margin-left: -5px
    .beware
        .list-style-checked
            li
                line-height: 1.3
                padding: 20px
                display: flex
                align-items: center
                &:nth-child(even)
                    background-color: $gray
                &:before
                    font-size: 3.5rem
                    margin-left: 0
                    margin-right: 10px
        .list-beware-first
            .list-style-checked
                li:before
                    color: $btnColorPrimary
        .list-beware-second
            .list-style-checked
                li:before
                    color: $bgColorSecondary
