.order-form
    .personal-info
        margin-top: 30px
    .bg-title
        margin-bottom: 30px
    table
        width: 100%
        sup
            color: $btnColorPrimary
        span
            display: inline-block
            margin-top: 10px
        input[type="text"],
        input[type="email"],
        input[type="tel"]
            +sizes(100%, 40px)
            padding: 0 10px
        textarea
            width: 100%
            height: 100px
            padding: 10px
            resize: none
        tr
            width: 100%
        td
            padding-bottom: 20px
            span.ml_15
                margin-left: 15px
            &:first-child
                width: 20%
                padding-left: 100px
            &:nth-child(2)
                width: 1%
            &:nth-child(3)
                width: 40%
                padding-right: 200px
        .select-product
            position: relative
            &:after
                content: '\f107'
                font-family: $font-awesome
                position: absolute
                right: 5px
                background-color: $white
                top: 5px
                z-index: 200
                width: 30px
                text-align: center
                font-size: 2rem
                color: $black
                pointer-events: none
            select
                width: 100%
                height: 40px
                outline: none
                padding: 0 10px
                position: relative
        .question
            float: right
            padding-right: 10px
            i
                +sizes(20px, 20px)
                color: $white
                text-align: center
                padding-top: 3px
                display: inline-block
                border-radius: 50%
                background-color: $btnColorPrimary
        .peper-info
            padding-top: 30px
        label
            cursor: pointer
        .radio-agree
            label
                display: inline-block
        .discount-code
            display: -webkit-flex
            display: -ms-flex
            display: flex
            width: 100%
            a
                float: right
                padding-left: 15px
                padding-right: 15px
                height: 40px
                width: 52%
                margin-left: 10px
            input
                width: 100%
        .cancel
            display: flex
            input
                width: 100%
                display: inline-block
            i
                +sizes(20px, 20px)
                color: $white
                text-align: center
                padding-left: 1px
                padding-top: 3px
                display: inline-block
                border-radius: 50%
                position: relative
                float: right
                margin-top: 10px
                background-color: $btnColorPrimary
                margin-left: 10px
        td p
            line-height: 1.3
            font-size: 1.2rem
        .total-price
            @if $screenColor == green
                border: 2px solid $bgColorSecondary
            @else if $screenColor == turquoise
                border: 2px solid #116162
            @else
                border: 2px solid $bgColorSecondary
            padding: 10px
            width: 100%
            p
                font-size: 1.8rem
            span
                margin-top: 0
                color: $btnColorPrimary
        .btn-order
            width: 45%
        .color-span
            color: $btnColorPrimary
