.prices
    .d_f
        display: -webkit-flex
        display: -ms-flex
        display: flex
        flex-wrap: wrap
        .o1
            order: 1
        .o2
            order: 2
        .o3
            order: 3

    .prices-table
        p
            margin-bottom: 40px
        table
            font-size: 1.4rem
            width: 100%
            text-align: center
            border: 1px solid $textColor
            thead
                @if $screenColor == green
                    background-color: $bgColorSecondary
                @else if $screenColor == turquoise
                    background-color: #116162
                @else
                    background-color: $bgColorSecondary
                th
                    padding: 30px 0
                    color: $white
                    font-size: 1.6rem
            td, th
                border-right: 1px solid $textColor
            tbody
                td
                    padding: 15px 0
                tr:nth-child(1) td
                    padding: 30px 0
                tr:nth-child(even) td
                    background-color: $gray
        .table-panels
            margin-bottom: 30px
        .currency
            width: 100%
            display: flex
            input[type="button"]
                display: inline-block
                width: 100%
                background: none
                border: none
                height: 40px
                border: 1px solid $textColor
                outline: none
                &:nth-child(2)
                    border-left: 0
                    border-right: 0
                &:last-child
                    border-left: 0
                &.active
                    @if $screenColor == green
                        background-color: $bgColorSecondary
                    @else if $screenColor == turquoise
                        background-color: #116162
                    @else
                        background-color: $bgColorSecondary
                    color: $white
        .select-product
            position: relative
            &:after
                content: '\f107'
                font-family: $font-awesome
                position: absolute
                right: 5px
                background-color: $white
                top: 5px
                z-index: 200
                width: 30px
                text-align: center
                font-size: 2rem
                color: $black
                pointer-events: none
            select
                width: 100%
                height: 40px
                outline: none
                padding: 0 10px
                position: relative
        .number-pages
            display: flex
            height: 40px
            span
                display: inline-block
                padding: 10px 15px
                border: 1px solid $textColor
                &:hover
                    @if $screenColor == green
                        background-color: $bgColorSecondary
                    @else if $screenColor == turquoise
                        background-color: #116162
                    @else
                        background-color: $bgColorSecondary
                    color: $white
            .minus
                border-right: 0
            .plus
                border-left: 0

            input
                height: 40px
                // width: 50px
                text-align: center
                display: inline-block
                width: 100%
                outline: none
        .list-style
            margin-left: 15px
    .btn-order-section
        margin-bottom: 50px
    .services
        .d_flex
            div:first-child
                align-items: stretch
    .service-content
        .green-content
            padding: 25px 50px
            p
                font-size: 1.6rem
                color: $white
