.profile
    .status-profile
        padding: 30px 0px
    .status-list
        font-size: 1.6rem
        display: flex
        justify-content: space-between
        color: $textColorBlog
        .name
            color: $bgColorSecondary
            text-transform: uppercase
        .status, .discount-code
            font-weight: 700
        .upgrade
            color: $textColorBlog
            &:hover
                text-decoration: underline
    .navigation-profile
        padding: 30px 0
        background-color: $bgColorSecondary
        .nav
            display: flex
            justify-content: space-between
            font-size: 1.4rem
            text-transform: uppercase
            li
                border-right: 2px solid $white
                padding-right: 18px
                &:last-child
                    border-right: none
                    padding-right: 0
                a
                    color: $white
                    &:hover
                        text-decoration: underline
    .profile-content
        padding-top: 30px
        .personal-info, .orders
            padding: 30px 20px
            border: 1px solid #eee
            header
                padding-bottom: 40px
        .personal-info
            label, span
                padding-bottom: 10px
                display: inline-block
            input[type="text"],
            input[type="password"],
            input[type="tel"]
                width: 100%
                height: 40px
                padding: 10px
                margin-bottom: 20px
                display: block
            .checkbox, .night
                margin-bottom: 20px
                display: block
                font-size: 1.3rem
                line-height: 1.2
                input[type="checkbox"]
                    display: inline-block
                    margin-right: 10px
            .btn-read-more
                margin-top: 0
                width: 50%
                margin: 0 auto
    .orders
        .order
            margin-bottom: 20px
            border: 1px solid #eee
            &:last-child
                margin-bottom: 0
            table
                width: 100%
                text-align: center
                thead
                    background-color: $bgColorSecondary
                    font-size: 1.6rem
                    color: $white
                tbody
                    background-color: $gray
                tr td
                    padding: 30px 0
                    border-right: 1px solid #cdcdcd
                    &:last-child
                        border-right: none
                .order-id
                    color: $bgColorPrimary
            .order-list
                padding: 30px 0
                display: flex
                justify-content: space-around
                a
                    color: $bgColorPrimary
                    font-size: 1.4rem
