.register
    padding: 50px 0
    .login-form
        border-radius: 5px
    .bg-title
        position: relative
        border-radius: 5px 5px 0 0
    .close
        background: transparent
        border: none
        outline: none
        position: absolute
        right: 10px
        top: 20px
        .close-line
            +sizes(15px, 2px)
            display: block
            background-color: $white
            &:last-child
                margin-bottom: 0
            &-top
                transform: rotate(45deg)
            &-bot
                transform: rotate(-45deg)
                margin-top: -2px
    .green-content
        border-radius: 0 0 5px 5px
        padding: 30px 50px
        input
            height: 40px
            width: 100%
            display: block
            margin-bottom: 20px
            padding: 10px
            &:last-child
                margin-bottom: 0
        .btn-register
            text-align: right
            .btn-order
                width: 50%
                display: inline-block
                i
                    font-size: 2.8rem
                    margin-right: 10px
                    font-weight: 700
                    vertical-align: bottom
