.samples
    padding-bottom: 20px
    .sample-item
        margin-top: 20px
        .sample-content
            padding-top: 10px
            padding-bottom: 20px
            border-bottom: 1px dashed $textColor
        .image-download
            text-align: center
        .order-now
            margin-top: 20px
    .bg-title
        text-align: left
    table
        width: 100%
        tr
            &:nth-child(even) td
                background-color: $gray
            td
                padding: 5px
                color: $textColor
                font-size: 1.5rem
                font-weight: 300
                &:first-child
                    padding-left: 20%
                &:nth-child(2)
                    padding-right: 15%
    .sample-footer
        padding: 20px 0
        .sample-price
            p
                font-size: 1.1rem
            .prices-from
                font-size: 1.4rem
                color: $bgColorSecondary
                span
                    color: $btnColorPrimary
    .discount-5
        background-image: url(../img/discount.png)
        background-size: 100% 100%
        padding: 7px 0
        width: 145px
        height: 45px
        background-repeat: no-repeat
        text-align: center
        margin-bottom: 25px
        span
            display: block
            margin-left: 60px
            font-size: 1rem
            text-transform: uppercase
        .number
            font-size: 2rem
            font-weight: 700
            line-height: 1
            color: $btnColorPrimary
    .discount
        .discount-5
            display: inline-block
        p
            display: inline-block
            vertical-align: top
            padding-top: 10px
            padding-left: 30px
            span
                color: $btnColorPrimary
    .samples-navigation
        border-top: 1px solid #eee
        text-align: left
        .nav
            padding-top: 20px
            li
                display: inline-block
                a
                    display: block
                    +sizes(20px, 20px)
                    font-size: 1.1rem
                    text-align: center
                    padding-top: 2px
                    color: $textColor
                    border: 1px solid $gray
                    &.active
                        background-color: $btnColorPrimary
                        color: $white
