.testimonials
    .testimonials-panel
        padding-bottom: 30px
    .nav
        padding-top: 10px
        li
            display: inline-block
            a
                display: block
                +sizes(20px, 20px)
                font-size: 1.1rem
                text-align: center
                padding-top: 2px
                color: $textColor
                border: 1px solid $gray
                &.active
                    background-color: $btnColorPrimary
                    color: $white
    article
        border-radius: 15px
        display: inline-block
        position: relative
        margin-bottom: 50px
        padding-left: 60px
        &::before
            content: ''
            border: 12px solid transparent
            border-left: 12px solid $gray
            border-top: 12px solid $gray
            bottom: -20px
            left: 30px
            display: inline-block
            position: absolute
        &::after
            content: '\f10e'
            position: relative
            font-family: $font-awesome
            top: 30px
            left: 25px
            position: absolute
            font-size: 2rem
            color: $btnColorPrimary
        .author
            text-align: right
            float: right
            font-size: 1.6rem
    .reply-form
        margin-top: 20px
        .green-content
            padding: 35px 60px
            span
                display: inline-block
                width: 100px
            input
                margin-bottom: 20px
                padding: 10px
                width: 100%
            textarea
                width: 100%
                height: 100px
                resize: none
                padding: 10px
                margin-bottom: 20px
            .btn-order
                padding: 10px
                margin-top: 20px
                i
                    margin-right: 10px
                    font-weight: 700

    fieldset, label
        margin: 0
        padding: 0

    .rating
        border: none
        float: left
        & > input
            display: none
        & > label
            color: #ddd
            float: right
            &:before
                margin: 0 5px
                font-size: 1.4rem
                font-family: FontAwesome
                display: inline-block
                content: "\f005"
        & > .half:before
            content: "\f089"
            position: absolute
    .rating > input:checked ~ label,
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label
        color: #FFD700

    .rating > input:checked + label:hover,
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label,
    .rating > input:checked ~ label:hover ~ label
        color: #FFED85
