// fontawesome
@font-face
    font-family: 'FontAwesome'
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0')
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0')format('embedded-opentype'),
    url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0')format('woff2'),
    url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0')format('woff'),
    url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0')format('truetype'),
    url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular')format('svg')
    font-weight: normal
    font-style: normal

// montserat
// medium
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat/montserrat-medium/Montserrat-Medium.eot')
    src: url('../fonts/montserrat/montserrat-medium/Montserrat-Medium.eot')format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-medium/Montserrat-Medium.woff2')format('woff2'),
    url('../fonts/montserrat/montserrat-medium/Montserrat-Medium.woff')format('woff'),
    url('../fonts/montserrat/montserrat-medium/Montserrat-Medium.ttf')format('truetype'),
    url('../fonts/montserrat/montserrat-medium/Montserrat-Medium.svg')format('svg')
    font-weight: 500
    font-style: normal
// bold
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat/montserrat-bold/Montserrat-Bold.eot')
    src: url('../fonts/montserrat/montserrat-bold/Montserrat-Bold.eot')format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-bold/Montserrat-Bold.woff2')format('woff2'),
    url('../fonts/montserrat/montserrat-bold/Montserrat-Bold.woff')format('woff'),
    url('../fonts/montserrat/montserrat-bold/Montserrat-Bold.ttf')format('truetype'),
    url('../fonts/montserrat/montserrat-bold/Montserrat-Bold.svg')format('svg')
    font-weight: 700
    font-style: normal
// bold italic
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat/montserrat-bolditalic/Montserrat-BoldItalic.eot')
    src: url('../fonts/montserrat/montserrat-bolditalic/Montserrat-BoldItalic.eot')format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-bolditalic/Montserrat-BoldItalic.woff2')format('woff2'),
    url('../fonts/montserrat/montserrat-bolditalic/Montserrat-BoldItalic.woff')format('woff'),
    url('../fonts/montserrat/montserrat-bolditalic/Montserrat-BoldItalic.ttf')format('truetype'),
    url('../fonts/montserrat/montserrat-bolditalic/Montserrat-BoldItalic.svg')format('svg')
    font-weight: 700
    font-style: italic
// italic
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat/montserrat-italic/Montserrat-Italic.eot')
    src: url('../fonts/montserrat/montserrat-italic/Montserrat-Italic.eot')format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-italic/Montserrat-Italic.woff2')format('woff2'),
    url('../fonts/montserrat/montserrat-italic/Montserrat-Italic.woff')format('woff'),
    url('../fonts/montserrat/montserrat-italic/Montserrat-Italic.ttf')format('truetype'),
    url('../fonts/montserrat/montserrat-italic/Montserrat-Italic.svg')format('svg')
    font-weight: 400
    font-style: italic
// light
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat/montserrat-light/Montserrat-Light.eot')
    src: url('../fonts/montserrat/montserrat-light/Montserrat-Light.eot')format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-light/Montserrat-Light.woff2')format('woff2'),
    url('../fonts/montserrat/montserrat-light/Montserrat-Light.woff')format('woff'),
    url('../fonts/montserrat/montserrat-light/Montserrat-Light.ttf')format('truetype'),
    url('../fonts/montserrat/montserrat-light/Montserrat-Light.svg')format('svg')
    font-weight: 300
    font-style: normal
// light italic
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat/montserrat-lightitalic/Montserrat-LightItalic.eot')
    src: url('../fonts/montserrat/montserrat-lightitalic/Montserrat-LightItalic.eot')format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-lightitalic/Montserrat-LightItalic.woff2')format('woff2'),
    url('../fonts/montserrat/montserrat-lightitalic/Montserrat-LightItalic.woff')format('woff'),
    url('../fonts/montserrat/montserrat-lightitalic/Montserrat-LightItalic.ttf')format('truetype'),
    url('../fonts/montserrat/montserrat-lightitalic/Montserrat-LightItalic.svg')format('svg')
    font-weight: 300
    font-style: italic
// medium italic
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat/montserrat-mediumitalic/Montserrat-MediumItalic.eot')
    src: url('../fonts/montserrat/montserrat-mediumitalic/Montserrat-MediumItalic.eot')format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-mediumitalic/Montserrat-MediumItalic.woff2')format('woff2'),
    url('../fonts/montserrat/montserrat-mediumitalic/Montserrat-MediumItalic.woff')format('woff'),
    url('../fonts/montserrat/montserrat-mediumitalic/Montserrat-MediumItalic.ttf')format('truetype'),
    url('../fonts/montserrat/montserrat-mediumitalic/Montserrat-MediumItalic.svg')format('svg')
    font-weight: 500
    font-style: italic
// regular
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat/montserrat-regular/Montserrat-Regular.eot')
    src: url('../fonts/montserrat/montserrat-regular/Montserrat-Regular.eot')format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-regular/Montserrat-Regular.woff2')format('woff2'),
    url('../fonts/montserrat/montserrat-regular/Montserrat-Regular.woff')format('woff'),
    url('../fonts/montserrat/montserrat-regular/Montserrat-Regular.ttf')format('truetype'),
    url('../fonts/montserrat/montserrat-regular/Montserrat-Regular.svg')format('svg')
    font-weight: 400
    font-style: normal
// semi bold
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat/montserrat-semibold/Montserrat-SemiBold.eot')
    src: url('../fonts/montserrat/montserrat-semibold/Montserrat-SemiBold.eot')format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-semibold/Montserrat-SemiBold.woff2')format('woff2'),
    url('../fonts/montserrat/montserrat-semibold/Montserrat-SemiBold.woff')format('woff'),
    url('../fonts/montserrat/montserrat-semibold/Montserrat-SemiBold.ttf')format('truetype'),
    url('../fonts/montserrat/montserrat-semibold/Montserrat-SemiBold.svg')format('svg')
    font-weight: 600
    font-style: normal
// semi bold italic
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat/montserrat-semibolditalic/Montserrat-SemiBoldItalic.eot')
    src: url('../fonts/montserrat/montserrat-semibolditalic/Montserrat-SemiBoldItalic.eot')format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-semibolditalic/Montserrat-SemiBoldItalic.woff2')format('woff2'),
    url('../fonts/montserrat/montserrat-semibolditalic/Montserrat-SemiBoldItalic.woff')format('woff'),
    url('../fonts/montserrat/montserrat-semibolditalic/Montserrat-SemiBoldItalic.ttf')format('truetype'),
    url('../fonts/montserrat/montserrat-semibolditalic/Montserrat-SemiBoldItalic.svg')format('svg')
    font-weight: 600
    font-style: italic
