html
    font-size: 62.5%
body
    font-family: $main-font
h1,
h2,
h3,
h4,
h5,
h6
    margin: 0
    padding: 0
    font-weight: 400
    color: $textColorSecondary
p
    padding: 0
    margin: 0
    color: $textColor
    font-size: 1.4rem
    line-height: 2
h1
    font-size: 3.6rem
    font-weight: 700
    text-align: center
h2
    font-size: 3.6rem
    text-align: center
h3
    font-size: 3rem
    text-align: center
h4
    font-size: 2.8rem
    text-align: center
h5
    font-size: 2.6rem
    text-align: center
h6
    font-size: 2.4rem
    text-align: center
ul
    margin: 0
    padding: 0
    list-style: none
    li
        list-style: none
ul.list-style
    margin: 0
    padding: 0
    list-style: none
    line-height: 2
    font-size: 1.4rem
    color: $textColor
    li
        list-style: none
        padding-left: 15px
        &:before
            content: "\f105"
            font-family: $font-awesome
            color: $btnColorPrimary
            text-align: left
            margin-left: -15px
            padding-right: 10px

ul.list-style-checked
    margin: 0
    padding: 0
    list-style: none
    line-height: 2
    font-size: 1.4rem
    color: $textColor
    li
        list-style: none
        padding-left: 15px
        &:before
            content: "\f00c"
            font-family: $font-awesome
            text-align: left
            margin-left: -15px
            padding-right: 10px
a,
a:hover,
a:active,
a:focus
    text-decoration: none
    outline: none
.social
    padding-top: 4px
    display: flex
    justify-content: space-between
    align-items: center
    a
        +sizes(30px, 30px)
        text-align: center
        position: relative
        perspective: 800px
        overflow: visible
        text-indent: -99999
    i
        font-size: 1.4rem
        color: $white
        padding: 0
    .pinterest
        color: #fff
        &::before
            content: "\f231"
            padding-top: 4px
            position: absolute
            font-family: $font-awesome
            top: 0
            left: 0
            +sizes(100%, 100%)
            display: block
            background-color: #595959
            +transition(.3s)
            z-index: 2
        &:after
            content: "\f231"
            padding-top: 4px
            position: absolute
            font-family: $font-awesome
            top: 0
            left: 0
            +sizes(100%, 100%)
            display: block
            background-color: $bgColorPinterest
            +transition(.3s)
            z-index: 1
            opacity: 0
            transform: translateY(15px) rotateX(-90deg)
        &:hover:before
            opacity: 0
            transform: translateY(-15px) rotateX(90deg)
        &:hover:after
            opacity: 1
            transform: rotateX(0)
    .twitter
        color: #fff
        &::before
            content: "\f099"
            padding-top: 4px
            position: absolute
            font-family: $font-awesome
            top: 0
            left: 0
            +sizes(100%, 100%)
            display: block
            background-color: #595959
            +transition(.3s)
            z-index: 2
        &:after
            content: "\f099"
            padding-top: 4px
            position: absolute
            font-family: $font-awesome
            top: 0
            left: 0
            +sizes(100%, 100%)
            display: block
            background-color: $bgColorTwitter
            +transition(.3s)
            z-index: 1
            opacity: 0
            transform: translateY(15px) rotateX(-90deg)
        &:hover:before
            opacity: 0
            transform: translateY(-15px) rotateX(90deg)
        &:hover:after
            opacity: 1
            transform: rotateX(0)
    .facebook
        color: #fff
        &::before
            content: "\f09a"
            padding-top: 4px
            position: absolute
            font-family: $font-awesome
            top: 0
            left: 0
            +sizes(100%, 100%)
            display: block
            background-color: #595959
            +transition(.3s)
            z-index: 2
        &:after
            content: "\f09a"
            padding-top: 4px
            position: absolute
            font-family: $font-awesome
            top: 0
            left: 0
            +sizes(100%, 100%)
            display: block
            background-color: $bgColorFacebook
            +transition(.3s)
            z-index: 1
            opacity: 0
            transform: translateY(15px) rotateX(-90deg)
        &:hover:before
            opacity: 0
            transform: translateY(-15px) rotateX(90deg)
        &:hover:after
            opacity: 1
            transform: rotateX(0)
.section-title
    padding: 40px 0
    h3
        margin-bottom: 20px
.pad_none
    padding-left: 0
    padding-right: 0
.pad_right_none
    padding-right: 0
.pad_left_none
    padding-left: 0
.section-content
    padding-bottom: 50px
// start icons shade
// end icons shade
.main-title
    @if $screenColor == green
        background-color: $bgColorPrimary
    @else if $screenColor == turquoise
        background-color: #00cccb
    @else
        background-color: $bgColorPrimary
    padding: 15px 0
    color: $white
    font-weight: 600
    text-align: center
    font-size: 3.6rem
    text-transform: uppercase
    position: relative
.bg-title
    @if $screenColor == green
        background-color: $bgColorSecondary
    @else if $screenColor == turquoise
        background-color: #116162
    @else
        background-color: $bgColorSecondary
    padding: 15px
    color: $white
    text-align: center
    font-size: 2.4rem
.bg-title-lighter
    @if $screenColor == green
        background-color: $bgColorPrimary
    @else if $screenColor == turquoise
        background-color: #00cccb
    @else
        background-color: $bgColorPrimary
    padding: 15px 0
    color: $white
    text-align: center
    font-size: 2.4rem
.gray-content
    padding: 30px 25px
    background-color: $gray
    .list-style
        font-size: 1.6rem
.green-content
    @if $screenColor == green
        background-color: $bgColorPrimary
    @else if $screenColor == turquoise
        background-color: #00cccb
    @else
        background-color: $bgColorPrimary
    padding: 25px
    .list-style
        color: $white
        font-size: 1.6rem
        li:before
            color: $white
.gray-bg
    background-color: $gray
    margin-top: 50px
    padding: 15px 0
.mb_none
    margin-bottom: 0
.float_left
    float: left
.float_right
    float: right
.jc_s
    justify-content: flex-start
.jc_c
    justify-content: center
.jc_e
    justify-content: flex-end
.as_e
    align-self: flex-end
.header-line
    position: relative
.footer-line::before
    content: ""
    position: absolute
    bottom: 0
    background-repeat: no-repeat
    z-index: 0
    left: 50%
    transform: translateX(-753px)
    background-image: url(../img/line-w.png)
    width: 753px
    height: 380px
.header-line::before
    content: ""
    position: absolute
    bottom: 0
    background-repeat: no-repeat
    z-index: 0
    left: 50%
    background-image: url(../img/line-b.png)
    width: 639px
    height: 216px
    background-size: 83% 100%
    transform: translateX(-718px)
