// HEADER
// HOME
// ABOUT
// PRICES
// HOW IT WORKS
// DISCOUNT
// ORDER NOW
// FAQ
//TESTIMONIALS
//BLOG
//SAMPLES
// LOGIN
// FOOTER

@media (min-width: 1200px)
    // HEADER
    .header
        .burger
            display: none
    .container
        z-index: 10
        position: relative
@media (max-width: 1199px)
    // HEADER
    .header
        .header-line::before
            display: none
        .header-top
            .toll-free, .call-now
                font-size: 1.3rem
                a span
                    font-size: 1.5rem
            .social
                font-size: 1.5rem
                margin-left: -30px
        .header-nav
            position: relative
            nav
                margin: 0
                padding: 0
                position: relative
                width: 100%
                display: none
                ul
                    width: 100%
                    li
                        display: block
                        text-align: center
                        width: 100%
                        margin-bottom: 20px
        .header-middle .multi-bg
            background: none
            background-image: url(../img/img_boy.png)
            background-repeat: no-repeat
            background-position: bottom left
        .btn-order
            margin-top: 0
        .burger
            margin-top: 10px
            display: block
        .header-middle
            padding-top: 10px
            .header-middle-title
                text-align: center
            .header-middle-title2
                margin-top: 10px
                text-align: center
                float: none
            .header-info
                h5
                    padding: 0
    .width-100
        width: 100%
    // HOME
    .home
        .advantages-item span
            font-size: 1.2rem
        .discount-items
            .discount-item
                p
                    padding-top: 10px
    // SAMPLES
    .samples
        .discount
            padding-top: 10px
    // 404
    .page-404
        padding: 50px 0
        .multi-bg
            display: none
    // FOOTER
    .footer
        .footer-line::before
            display: none
@media (max-width: 991px)
    .width-991
        width: 100%
        padding-right: 0
        padding-left: 0
    // HEADER
    .header
        .header-top
            display: none
        .burger
            margin-top: calc(100% - 95%)
            &.active
                margin-top: calc(100% - 95%)
        .header-nav ul li
            margin-left: 0
        .header-middle
            padding: 30px 0
            text-align: center
            background-image: none
            background-image: url(../img/books_left.png), url(../img/book_right.png)
            background-repeat: no-repeat
            background-position: top 50% left, top 50% right
            background-size: 94px 362px
            .btn-order
                margin: 10px 0
                z-index: 3
                position: relative
            .header-info
                padding-left: 0
                h5,p
                    text-align: center
            .btn-chat
                display: none
            .multi-bg
                background: none
                display: none
        .header-footer
            display: none!important
    // HOME
    .home
        .advantage-items
            .advantages-item
                margin-bottom: 0
            .slider
                position: relative
                .advantages-item
                    height: 162px
                .slick-arrow
                    color: $white
                    font-size: 5rem
                    position: absolute
                    bottom: 30%
                    z-index: 2
                    cursor: pointer
                .slick-prev
                    left: 4%
                .slick-next
                    right: 4%
        .how-it-works
            display: none
        .info-company
            .section-title
                padding-top: 40px

    // PRICES
    .prices
        .d_f
            .o2
                order: 3
            .o3
                order: 2
        .prices-table
            .currency
                margin-bottom: 10px
        .services
            padding: 0
        .service-content:first-child
            margin-bottom: 50px

    // HOW IT WORKS
    .how-it-works
        .step
            .step-title
                h3
                    text-align: center
                .step-icon
                    justify-content: center
                    margin-bottom: 10px
                .step-line, .step-circle
                    display: none
    // DISCOUNT
    .discount
        .discount-items
            .discount-item
                padding-bottom: 20px
                p
                    padding-top: 0
        .color-section .first-order
            padding: 10px
            line-height: 1.3
            span
                display: block
        .discount-items
            .discount-5
                +sizes(290px, 95px)
                margin-left: auto
                margin-right: auto
    // ORDER FORM
    .order-form
        table
            td
                padding-bottom: 0
                &:first-child
                    display: inline-block
                    width: auto
                    clear: both
                    padding-left: 0
                    float: left
                    padding-bottom: 10px
                &:nth-child(2)
                    // width: 1%
                    margin-left: 30px
                    float: left
                    display: inline-block
                    padding-bottom: 10px
                &:nth-child(3)
                    clear: both
                    display: block
                    width: 100%
                    padding-right: 0
                    padding-bottom: 20px
            .cost-per-page
                td
                    display: inline-block
                    span
                        margin-top: 0
                        margin-left: 0
                    &:nth-child(3)
                        display: inline-block
                        width: 20%
            .checkbox-d
                td
                    display: inline-block
                    span
                        margin-top: 0
                        margin-left: 0
                    &:first-child
                        // width: 30%
                    &:nth-child(2)
                        float: left
                    &:nth-child(3)
                        display: inline-block
                        width: 50%
            .attachment
                display: inline-block
                td
                    display: inline-block
                    span
                        margin-top: 0
                        margin-left: 0
                    &:first-child
                        display: inline-block
                        padding-top: 10px
                    &:nth-child(3)
                        display: inline-block
                        padding-left: 30px
                        width: 30%
                        padding-left: 0
            .total-price
                text-align: center
            .order-now
                text-align: center
                td
                    display: block
                    &:nth-child(3)
                        text-align: center
                        display: block
                        margin: 0 auto
                        width: 45%
                        a
                            width: 100%
            .radio
                .radio-input
                    display: inline-block
    // TESTIMONIALS
    .testimonials
        .pad_bot_none
            padding-bottom: 0
        .testimonials-panel
            .nav
                padding-top: 0
                padding-bottom: 30px
                text-align: center
    // BLOG
    .blog
        padding-bottom: 20px
        .post
            padding: 25px 0
            border-bottom: 1px dashed $textColor
            &:nth-last-child(2)
                padding-bottom: 25px
        .line-dashed
            border: none
            .circle
                display: none
        .left-info
            position: absolute
            z-index: 2
            width: 111px
            .data
                padding: 0
                .month
                    display: inline-block
                .day
                    display: inline-block
            .comments
                padding: 0
                span
                    display: inline-block
                    margin-right: 5px
        .right-blog
            .posted
                text-align: center
            .name-of-blog
                text-align: center
            .continue-reading
                text-align: center
                a
                    display: inline-block
        .blog-navigation
            text-align: center
            padding-top: 20px
    // SINGLE
    .single
        padding-bottom: 20px
        .post
            padding: 25px 0
            &:nth-last-child(2)
                padding-bottom: 25px
        .line-dashed
            border: none
            .circle
                display: none
        .left-info
            position: absolute
            z-index: 2
            width: 111px
            .data
                padding: 0
                .month
                    display: inline-block
                .day
                    display: inline-block
            .comments
                padding: 0
                span
                    display: inline-block
                    margin-right: 5px
        .right-blog
            .posted
                text-align: center
            .name-of-blog
                text-align: center
            .continue-reading
                text-align: center
                a
                    display: inline-block
        .comments-content
            .comment-panel
                padding-top: 20px
                .comment-navigation
                    text-align: center
                    padding-bottom: 20px
                .see-comments
                    text-align: center
                    margin: 0 auto
        .reply
            .reply-content
                input:last-child
                    margin-bottom: 10px
                .btn-read-more
                    float: none
                    text-align: center
                    margin: 0 auto
                    margin-top: 10px
    // SAMPLES
    .samples
        .bg-title
            text-align: center
        .sample-content
            background-color: $btnColorSecondary
        .sample-item
            .image-download
                text-align: left
            .sample-content
                border-bottom: none
            .order-now
                display: none
            .order-now-991
                padding-top: 20px
                width: 50%
                margin: 0 auto
                text-align: center
            .discount
                p
                    padding-left: 0
            .sample-price
                .prices-from
                    color: $bgColorSecondary
                    span
                        color: $btnColorPrimary
        .sample-footer
            display: none
        table
            border-top: 1px dashed $textColor
        .samples-navigation
            border-top: none
            text-align: center
    .profile
        .status-profile
            padding: 20px 0
        .status-list
            flex-direction: column
            text-align: center
            line-height: 2
        .navigation-profile
            padding: 20px 0
            .nav
                flex-direction: column
                text-align: center
                line-height: 2.5
                li
                    padding-right: 0
        .personal-info, .orders
            padding: 20px 10px!important
            background-color: $btnColorSecondary
        .orders
            margin-top: 20px

    // FOOTER
    .footer
        .footer-top
            display: none
        .footer-bot
            @if $screenColor == green
                background-color: $bgColorSecondary
            @else if $screenColor == turquoise
                background-color: #116162
            @else
                background-color: $bgColorSecondary
            .social
                display: none
            .copyright
                text-align: center

@media (max-width: 767px)
    // HEADER
    .header
        .header-middle
            background-size: 70px 362px
            .btn-order
                padding: 15px 0
            .header-middle-title
                position: relative
                z-index: 10
                font-size: 2.5rem
                float: none
            .header-middle-title2
                font-size: 1.8rem
                margin: 90px 0

    // HOME
    .home
        .info-company
            .info-paragraph
                column-count: 1
        .btn-read-more
            display: none
    //DISCOUNT
    .discount
        .discount-items
            .discount-5
                background-image: url(../img/discount.png)
                background-size: 100% 100%
                padding: 15px 0
                +sizes(290px, 95px)
                margin-left: auto
                margin-right: auto
                background-repeat: no-repeat
                text-align: center
                margin-bottom: 25px
                span
                    display: block
                    margin-left: 100px
                    font-size: 1.8rem
                    text-transform: uppercase
                .number
                    font-size: 4rem
                    font-weight: 700
                    line-height: 1
                    color: $btnColorPrimary
    // ORDER FORM
    .order-form
        table
            .attachment
                display: inline-block
                td
                    display: inline-block
                    span
                        margin-top: 0
                        margin-left: 0
                    &:first-child
                        display: inline-block
                        padding-top: 10px
                    &:nth-child(3)
                        display: inline-block
                        padding-left: 30px
                        width: 50%
                        padding-left: 0
            .discount-code
                .btn-order-form
                    width: 79%
                    padding-left: 5px
                    padding-right: 5px
                    font-size: 1.3rem

    // BLOG
    .blog
        padding-top: 0
        .blog-content
            border: none
            padding: 0
    .section-title h1, h2, h3
        font-size: 2.5rem
    // SINGLE
    .single
        padding-top: 0
        .post-content
            border: none
            padding: 0
            .comments-form .comment-under
                padding-left: 0
    .section-title h1, h2, h3
        font-size: 2.5rem
@media (max-width:655px)
    // BLOG
    .blog
        .right-blog
                .continue-reading
                    .btn-read-more
                        width: 50%
    // SAMPLES
    .samples
        table
            tr
                td
                    &:first-child
                        padding-left: 0
                    &:nth-child(2)
                        padding-right: 0


@media (max-width:535px)
    // DISCOUNT
    .discount
        .color-section
            h3
                color: $btnColorPrimary
            .first-order
                padding: 30px 0
                background-size: 70px 70px
                span
                    font-size: 3rem
                    font-weight: 700
                    color: $white
    // TESTIMONIAL
    .testimonials
        .reply-form
            .green-content
                padding: 20px
        fieldset
            margin-left: 10px
    // SAMPLES
    .samples
        .sample-item
            .sample-price
                p
                    font-size: 1rem
                .prices-from
                    font-size: 1.2rem
    // SINGLE
    .single
        .comments-form .comment .comment-content
            padding-left: 0
        .image-user
            display: none
    // LOGIN
    .login, .register
        .green-content
            padding: 20px
            .login-links
                width: 100%
                text-align: center
            .btn-order
                float: none
                margin: 0 auto
                width: 60%
                padding: 10px
                margin-top: 10px
            .btn-register
                .btn-order
                    width: 70%

@media (max-width:420px)
    // PRICES
    .prices
        .prices-table
            .currency
                margin-bottom: 10px
            .number-pages
                span
                    padding-left: 10px
                    padding-right: 10px
    // ORDER FORM
    .order-form
        table
            .checkbox-d
                td
                    display: inline-block
                    span
                        margin-top: 0
                        margin-left: 0
                    &:first-child
                        width: 40%
                    &:nth-child(2)
                        float: left
                    &:nth-child(3)
                        display: inline-block
                        // padding-left: 30px
                        width: 35%
            .order-now
                td:nth-child(3)
                    width: 70%
    // BLOG
    .blog
        .left-info
            .data
                .year
                    display: none

        .right-blog
                .continue-reading
                    .btn-read-more
                        width: 80%
    // SINGLE
    .single
        .left-info
            .data
                .year
                    display: none

        .right-blog
                .continue-reading
                    .btn-read-more
                        width: 80%
    // SAMPLES
    .samples
        .sample-item
            .discount
                p
                    font-size: 1rem
