<main class="page-404">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <span class="header-middle-title">404</span>
            </div>
            <div class="col-md-12 col-xs-12">
                <span class="header-middle-title2">page not found</span>
            </div>
            <div class="col-md-offset-4 col-md-4 col-xs-12">
                <div class="header-info">
                    <p>THE LINK YOU FOLLOWED IS<br> PROBABLY BROKEN OR<br> THE PAGE HAS BEEN REMOVED</p>
                </div>
            </div>
            <div class="col-md-offset-5 col-md-2 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
                <a href="#" class="btn-read-more">Back</a>
                <a href="#" class="btn-discount">home</a>
            </div>
            <div class="multi-bg"></div>
        </div>
    </div>
</main>
