<main class="about section-content">
    <section class="why-we section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="section-title">
                        <h2>Why we are?{h2}</h2>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-title">
                        <span>When you use CompanyName.com, this is exactly what you get</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="gray-content">
                        <ul class="list-style">
                            <li>An essay, research paper or term paper written for your academic level, whether that be high school, college, or graduate school</li>
                            <li>Authentic research performed individually for the customer</li>
                            <li>A work that is delivered by the deadline established</li>
                            <li>Revisions, free of charge, until the customer is completely satisfied (unless there is a change of original instructions)</li>
                            <li>A guarantee of originality, enforced by scanning each work for plagiarism, using the most current software for that purpose</li>
                            <li>An emulation of the customer’s writing style, accomplished by allowing the customer to submit samples of his or her previous works. The assigned writer can then use that as a model in producing the piece</li>
                            <li>A secure and easy method of payment</li>
                            <li>A guarantee of complete confidentiality for each customer</li>
                            <li>A customer service staff that is available to resolve any issues, answer any questions, and provide price quotes, no matter how simple or complex the work may be</li>
                            <li>Over 1000 academicians who create essays and research papers in their specific subject fields</li>
                            <li>Resource use and citation as designated by the customer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-us">
        <div class="container">
            <div class="row">
                <div class="col-md-4 hidden-sm hidden-xs">
                    <div class="bg-title">
                        <span>Why choose us</span>
                    </div>
                    <div class="green-content">
                        <ul class="list-style">
                            <li>The largest source data base</li>
                            <li>Any paper at any academic level</li>
                            <li>96% Satisfied and returning customers</li>
                            <li>A wide range of services</li>
                            <li>MA/PhD writers</li>
                            <li>24/7 Customer support</li>
                            <li>Flexible discount program</li>
                            <li>Free plagiarism report</li>
                            <li>Double checked content</li>
                            <li>Direct communication with a writer</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <header class="section-title">
                        <h2>Why Us{h2}</h2>
                        <h3 class="hidden-sm hidden-xs">What students seek for writing assistance?{h3}</h3>
                    </header>
                    <div class="why-us-content">
                        <p>First, these students are very intelligent, because they know their limitations and are smart enough to look for assistancerather than simply ignore their struggles and suffer the consequences.</p>
                        <p>Second, they may be facing multiple term or research paper assignments at once. They simply don’t have the time to complete them all at an acceptable level.</p>
                        <p>There are many reasons to use our custom writing service rather than those scams out there. Such ghost-companies will disappoint you, or, worse, get you in serious trouble by submitting a plagiarized paper that can be easily found
                            on the Internet.</p>
                    </div>
                    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
                        <a href="#" class="btn-order">order now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="section-title">
                        <h2>Contact Us{h2}</h2>
                    </header>
                </div>
                <div class="col-md-12">
                    <div class="contact-content">
                        <p>EssaysService.com provides original and high quality essays, reports, research papers, and other types of academic writing to the students. The papers are delivered by the professional writers educated in the finest American universities.</p>
                        <p>We have the best team of academic experts, editors and customer support personnel who work to ensure your complete satisfaction.</p>
                        <p>At our custom writing service we are dedicated to providing unique papers to the students of all academic levels and in all fields of study, from simple to complex. Our company was created to offer you professional writing assistance,
                            no matter what you need, when you need it! Once you have experienced the quality of EssaysService.com, you will never go anywhere else.We are available 24 hours a day, 365 days a year. You can contact us in any way that is
                            convenient for you, and we will start the work on your order immediately.</p>
                        <p><strong>Address: 0302 W. 2th St, Los Angeles, CA 80235</strong></p>
                        <p><strong>Email: companyname@mail.com</strong></p>
                    </div>
                </div>
            </div>
            <div class="contact-form hidden-xs">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="bg-title">
                            <span>Contact Form</span>
                        </div>
                        <div class="green-content">
                            <form class="" action="index.html" method="post">
                                <div class="row">
                                    <div class="col-md-3">
                                        <span>Your name</span>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="" value="">
                                    </div>
                                    <div class="col-md-3">
                                        <span>Email</span>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="" value="">
                                    </div>
                                    <div class="col-md-3">
                                        <span>Message</span>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea name="name"></textarea>
                                    </div>
                                    <div class="col-md-offset-8 col-md-4">
                                        <a href="#" class="btn-order"><i class="fa fa-angle-right"></i>Send</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid gray-bg live-chat-info hidden-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-5 col-md-offset-2 col-md-5">
                    <div class="call-now">
                        Call now: <a href="tel:"><span>+1-(044)-147-0235</span></a>
                    </div>
                    <div class="toll-free">
                        Toll for free: <a href="tel:"><span>+1-(044)-147-0235</span></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn-chat"><i class="icon-comments"></i><i class="fa fa-angle-right"></i>live chat</a>
                </div>
            </div>
        </div>
    </section>
</main>
