<main class="blog">
    <div class="container">
        <div class="blog-content">
            <div class="post">
                <div class="row">
                    <div class="col-md-2">
                        <div class="left-info">
                            <div class="data">
                                <span class="month">AUG</span>
                                <span class="day">3</span>
                                <span class="year">2014</span>
                            </div>
                            <div class="comments">
                                <a href="#"><span class="number-comment">12</span>comments</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 line-dashed">
                        <div class="circle"></div>
                        <div class="right-blog">
                            <div class="blog-image">
                                <img src="img/blog.png" alt="blog">
                            </div>
                            <div class="posted">
                                <p>posted by <a href="#">sara brash</a></p>
                            </div>
                            <div class="name-of-blog">
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </div>
                            <div class="description-of-blog">
                                <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most
                                    faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work
                                    is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of
                                    the leading online writing centers that deliver only premium quality essays, term papers, and research papers.</p>
                            </div>
                            <div class="continue-reading">
                                <a href="single.html" class="btn-read-more">continue reading</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="row">
                    <div class="col-md-2">
                        <div class="left-info">
                            <div class="data">
                                <span class="month">AUG</span>
                                <span class="day">3</span>
                                <span class="year">2014</span>
                            </div>
                            <div class="comments">
                                <a href="#"><span class="number-comment">12</span>comments</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 line-dashed">
                        <div class="circle"></div>
                        <div class="right-blog">
                            <div class="blog-image">
                                <img src="img/blog.png" alt="blog">
                            </div>
                            <div class="posted">
                                <p>posted by <a href="#">sara brash</a></p>
                            </div>
                            <div class="name-of-blog">
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </div>
                            <div class="description-of-blog">
                                <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most
                                    faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work
                                    is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of
                                    the leading online writing centers that deliver only premium quality essays, term papers, and research papers.</p>
                            </div>
                            <div class="continue-reading">
                                <a href="single.html" class="btn-read-more">continue reading</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="row">
                    <div class="col-md-2">
                        <div class="left-info">
                            <div class="data">
                                <span class="month">AUG</span>
                                <span class="day">3</span>
                                <span class="year">2014</span>
                            </div>
                            <div class="comments">
                                <a href="#"><span class="number-comment">12</span>comments</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 line-dashed">
                        <div class="circle"></div>
                        <div class="right-blog">
                            <div class="blog-image">
                                <img src="img/blog.png" alt="blog">
                            </div>
                            <div class="posted">
                                <p>posted by <a href="#">sara brash</a></p>
                            </div>
                            <div class="name-of-blog">
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </div>
                            <div class="description-of-blog">
                                <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most
                                    faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work
                                    is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of
                                    the leading online writing centers that deliver only premium quality essays, term papers, and research papers.</p>
                            </div>
                            <div class="continue-reading">
                                <a href="single.html" class="btn-read-more">continue reading</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-navigation">
                <ul class="nav">
                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>...</li>
                    <li><a href="#">6</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</main>
