<main class="discount section-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="section-title">
                    <h2>Discounts for NEW and RETURNING customers!</h2>
                </header>
            </div>
        </div>
        <div class="color-section">
            <div class="row">
                <div class="col-md-12">
                    <h3>RETURNING CUSTOMERS GET 5, 10 OR 15 % DISCOUNTS</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10">
                    <div class="first-order">
                        <span>-20%</span><span> for first order</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>EssaysService.com focuses on establishing long-term relationships with its customers. Whether your order is small or large, or whether you have a single or multiple orders at one time, you will be able to take advantage of our discounts
                    for the returning customers!</p>
            </div>
        </div>
        <div class="discount-items">
            <div class="discount-item">
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-3 col-sm-6">
                        <div class="discount-5">
                            <span class="number">-5%</span>
                            <span>discounts</span>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-xs-12">
                        <p>When your total order equals 15 or more pages, you will receive a permanent 5% discount on ALL future orders. The 15 pages can be counted from one or multiple orders.</p>
                    </div>
                </div>
            </div>
            <div class="discount-item">
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-3 col-sm-6">
                        <div class="discount-5">
                            <span class="number">-10%</span>
                            <span>discounts</span>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-xs-12">
                        <p>When your total order equals 15 or more pages, you will receive a permanent 5% discount on ALL future orders. The 15 pages can be counted from one or multiple orders.</p>
                    </div>
                </div>
            </div>
            <div class="discount-item">
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-3 col-sm-6">
                        <div class="discount-5">
                            <span class="number">-15%</span>
                            <span>discounts</span>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-xs-12">
                        <p>When your total order equals 15 or more pages, you will receive a permanent 5% discount on ALL future orders. The 15 pages can be counted from one or multiple orders.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Whatever your writing needs are, we are ready to provide you with top quality professional writing help for the rest of your academic career! Our professional writers, editors, and customer support professionals are always available and
                    ready to help you at any time!</p>
            </div>
        </div>
    </div>
</main>
