<header class="header">
    <div class="container-fluid header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="toll-free">
                        <i class="icon icon-toll"></i> Toll for free: <a href="tel:"><span>+1-(044)-147-0235</span></a>
                    </div>
                    <!-- toll free -->
                </div>
                <div class="col-md-5">
                    <div class="call-now">
                        <i class="icon icon-call"></i> Call now: <a href="tel:"><span>+1-(044)-147-0235</span></a>
                    </div>
                    <!-- call now -->
                </div>
                <div class="col-md-offset-1 col-md-2">
                    <div class="social">
                        Join us:
                        <a href="#" class="pinterest"></a>
                        <a href="#" class="twitter"></a>
                        <a href="#" class="facebook"></a>
                    </div>
                    <!-- social -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- header top -->
    <div class="container-fluid header-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-5 col-xs-6">
                    <a href="#" class="logo"><img src="img/logo.png" alt="logo"></a>
                </div>
                <button class="burger">
                        <span class="burger-line burger-line-top"></span>
                        <span class="burger-line burger-line-mid"></span>
                        <span class="burger-line burger-line-bot"></span>
                </button>
                <!-- burger -->
                <div class="col-md-10 width-100">
                    <nav class="menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="prices.html">Service & Sprices</a></li>
                            <li><a href="how-it-works.html">How It Works</a></li>
                            <li><a href="discount.html">Discount</a></li>
                            <li><a href="order-form.html" class="active">Order Now</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="samples.html">Samples</a></li>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </nav>
                    <!-- menu -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- header nav -->
    <div class="container-fluid main-title header-line">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <span>Title{span}</span>
                    </div>
                    <!-- title -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- main title -->
</header>
<!-- header -->
