<header class="header">
    <div class="container-fluid header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="toll-free">
                        <i class="icon-toll"></i> Toll for free: <a href="tel:"><span>+1-(044)-147-0235</span></a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="call-now">
                        <i class="icon-call"></i> Call now: <a href="tel:"><span>+1-(044)-147-0235</span></a>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-2">
                    <div class="social">
                        Join us:
                        <a href="#" class="pinterest"></a>
                        <a href="#" class="twitter"></a>
                        <a href="#" class="facebook"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid header-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-5 col-xs-6">
                    <a href="#" class="logo"><img src="img/logo.png" alt="logo"></a>
                </div>
                    <button class="burger">
                        <span class="burger-line burger-line-top"></span>
                        <span class="burger-line burger-line-mid"></span>
                        <span class="burger-line burger-line-bot"></span>
                    </button>
                <div class="col-md-10 width-100">
                    <nav>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="prices.html">Service & Sprices</a></li>
                            <li><a href="how-it-works.html">How It Works</a></li>
                            <li><a href="discount.html">Discount</a></li>
                            <li><a href="order-form.html" class="active">Order Now</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="samples.html">Samples</a></li>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid header-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3">
                    <a href="#" class="btn-chat"><i class="icon-comments"></i><i class="fa fa-angle-right"></i>live chat</a>
                </div>
                <div class="col-lg-8 col-md-9 col-xs-12">
                    <span class="header-middle-title">Custom Writing service</span>
                </div>
                <div class="col-lg-offset-3 col-lg-5 col-md-offset-5 col-md-7 col-xs-12">
                    <span class="header-middle-title2">the key to success </span>
                </div>
                <div class="col-lg-offset-3 col-lg-5 col-md-offset-6 col-md-6 col-sm-12 hidden-xs">
                    <div class="header-info">
                        <h5>You are at right place!</h5>
                        <p>EssayService.com is a top quality writing service</p>
                    </div>
                </div>
                <div class="col-lg-offset-6 col-lg-3 col-md-offset-8 col-md-3 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
                    <a href="#" class="btn-order">order now</a>
                </div>
                <div class="multi-bg"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid header-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-9">
                    <div class="header-footer-content">
                        <p>Special Offer: <a href="#">Get limited discounts</a> on the first order</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <a href="#" class="btn-discount">the list of discount</a>
                </div>
            </div>
        </div>
    </div>
</header>
