<main class="home">
    <section id="our-advantages">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="section-title">
                        <h2>Our Advantage{h2}</h2>
                    </header>
                </div>
            </div>
            <div class="advantage-items">
                <div class="row slider">
                    <div class="col-md-4">
                        <a href="#" class="advantages-item">
                            <i class="icon icon-ad-icon"></i>
                            <span>any academic level</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="advantages-item">
                            <i class="icon icon-ad-icon2"></i>
                            <span>Over 300 words per page</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="advantages-item">
                            <i class="icon icon-ad-icon3"></i>
                            <span>Free plagiarism report</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="advantages-item">
                            <i class="icon icon-ad-icon4"></i>
                            <span>20% off your first order</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="advantages-item">
                            <i class="icon icon-ad-icon5"></i>
                            <span>Direct communication with the writer</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="advantages-item">
                        <i class="icon icon-ad-icon6"></i>
                        <span>Flexible discount program</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info-company">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="section-title">
                        <h1>COMPANYNAME.com has come forward <br>
                     to provide you with high quality papers{h1}</h1>
                    </header>
                </div>
                <div class="col-md-12">
                    <div class="info-paragraph">
                        <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful
                            friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet?
                            Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing
                            centers that deliver only premium quality essays, term papers, and research papers.</p> <br>
                        <p>Once you place an order and provide all the necessary instructions, one of our writers will start working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree in the
                            respective area of expertise, which makes it possible for him/her to find the relevant information, carry out exhaustive research, and develop a comprehensible and well-organized document.</p>
                            <p>The final product will meet all your specifications regarding the content and formatting style. What is more, you will not have to proofread it for any grammatical or spelling errors, because our professionals have a really
                                good command of the English language.</p>
                            <p>All the papers EssaysService.com delivers are completely original as we check every single work for plagiarism via advanced plagiarism detection software. You will receive a free plagiarism report together with your essay to
                                show its originality.
                            </p> <br>
                            <p>Being tempted by low prices and promises of quick paper delivery, you may choose another paper writing service. The truth is that more often than not their words are hollow. While the main purpose of such doubtful companies
                                is to cash in on credulity of their clients, the prime objective of EssaysService.com is clients’ satisfaction. We do fulfill our guarantees, and if a customer is displeased with the final paper he/she had received (which
                                hardly ever occurs), he/she will surely get a full refund. However, a refund request is acceptable only within 14 days of the initial deadline.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid how-it-works">
        <div class="container">
            <div class="row">
                <header class="section-title">
                    <h2>How it works</h2>
                </header>
            </div>
            <div class="row border-bottom">
                <div class="col-md-4">
                    <div class="icon-text jc_s">
                        <div class="step-icon-top">
                            <div class="step-square">
                                <i class="icon2 icon-Shade"></i>
                            </div>
                            <div class="step-line"></div>
                            <div class="step-circle"></div>
                        </div>
                        <span class="span-top">1. Place<br> Your Order</span>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="icon-text jc_c">
                        <div class="step-icon-top float_right">
                            <div class="step-square">
                                <i class="icon2 icon-Shade3"></i>
                            </div>
                            <div class="step-line"></div>
                            <div class="step-circle"></div>
                        </div>
                        <span class="span-top">3. Your Order is<br>completed</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-text jc_e">
                        <div class="step-icon-top float_right">
                            <div class="step-square">
                                <i class="icon2 icon-Shade5"></i>
                            </div>
                            <div class="step-line"></div>
                            <div class="step-circle"></div>
                        </div>
                        <span class="span-top span-top-right">5. Download</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="icon-text jc_c">
                        <div class="step-icon-bottom">
                            <div class="step-circle step-circle-yellow"></div>
                            <div class="step-line"></div>
                            <div class="step-square">
                                <i class="icon2 icon-Shade2"></i>
                            </div>
                        </div>
                        <span class="as_e span-bottom">2. Upload Additional<br>Information</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-text jc_c">
                        <div class="step-icon-bottom">
                            <div class="step-circle step-circle-yellow"></div>
                            <div class="step-line"></div>
                            <div class="step-square">
                                <i class="icon2 icon-Shade4"></i>
                            </div>
                        </div>
                        <span class="as_e span-bottom">4. Free plagiarism<br>report</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="lists-info section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <header class="section-title">
                        <h2>Ordering a Paper at Company.com Is Worth It{h2}</h2>
                    </header>
                    <div class="list-info">
                        <ul class="list-style">
                            <li>Any type of writing paper assignment – from a high school essay to university term paper.</li>
                            <li>Our writers always follow the customers' requirements very carefully.</li>
                            <li>100% original paper and a plagiarism report to prove it.</li>
                            <li>Your order will be delivered in a timely manner. If we fail to meet the deadline, the customer will get his/her money back.</li>
                            <li>A writer who is an expert in the respective field of study.</li>
                            <li>In case the essay or research paper doesn’t satisfy your requirements, you can ask for revision. We will make all necessary changes and edit your work until you are 100%</li>
                            <li>satisfied with the final results. Just make sure that you put in a request for revision within 48 hours of the initial deadline. The only exception is made for 20+ page papers – you may submit your request for revision not
                                later than a month after you receive your paper.</li>
                            <li>Loyal customers have the privilege of buying papers at a reduced price.</li>
                        </ul>
                        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
                            <a href="#" class="btn-read-more"><i class="fa fa-angle-right"></i>read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <header class="section-title">
                        <h2>CompanyName.com is the best Essay Writing Service{h2}</h2>
                    </header>
                    <div class="list-info">
                        <p>The final product will meet all your specifications regarding the content and formatting style. What is more, you will not have to proofread it for any grammatical or spelling errors, because our professionals have a really good
                            command of the English language.</p>
                        <p>ll the papers EssaysService.com delivers are completely original as we check every single work for plagiarism via advanced plagiarism detection software. You will receive a free plagiarism report together with your essay to show
                            its originality. Being tempted by low prices and promises of quick paper delivery, you may choose another paper writing service. The truth is that more often than not their words are hollow. While the main purpose of such doubtful
                            companies is to cash in on credulity of their clients, the prime objective of EssaysService.com is clients’ satisfaction. We do fulfill our guarantees, and if a customer is displeased with the final paper he/she had received
                            (which hardly ever occurs), he/she will surely get a full refund. However, a refund request is acceptable only within 14 days of the initial deadline.</p>
                        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
                            <a href="#" class="btn-read-more"><i class="fa fa-angle-right"></i>read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
