<main class="login">
    <div class="container">
        <div class="login-form">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">
                    <div class="bg-title">
                        <span>Login</span>
                        <button class="close">
                            <span class="close-line close-line-top"></span>
                            <span class="close-line close-line-bot"></span>
                        </button>
                    </div>
                    <div class="green-content">
                        <form action="">
                            <input type="email" placeholder="Email">
                            <input type="password" placeholder="Password">
                            <div class="login-links">
                                <div class="forgot-pass">
                                    <a href="#">Forgot your password?</a>
                                </div>
                                <div class="reg-order">
                                    <a href="#">Registration & order</a>
                                </div>
                                <div class="reg">
                                    <a href="#">Free registration</a>
                                </div>
                            </div>
                            <a href="#" class="btn-order"><i class="fa fa-angle-right"></i>Login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
