<main class="order-form section-content">
    <div class="container">
        <div class="row">
            <div class="com-md-12">
                <header class="section-title">
                    <h2>Order Form</h2>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Confused about the difference in pricing of various writing services? We understand! Most services charge a set price-per-page, for anything from a high school 5-paragraph essay to a Ph.D. dissertation. This should raise an immediate red
                    flag to you. No honest and ethical service can do this without using second-rate writers and databases of pre-written papers.</p>
            </div>
        </div>
    </div>
    <section class="personal-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-title">
                        <span>Personal informations</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <tbody>
                            <tr>
                                <td>First name <sup>&#10033;</sup></td>
                                <td></td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Last name <sup>&#10033;</sup></td>
                                <td></td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Email <sup>&#10033;</sup></td>
                                <td>
                                    <div class="question">
                                        <i class="fa fa-question"></i>
                                        <div class="answer"></div>
                                    </div>
                                </td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Contry code <sup>&#10033;</sup></td>
                                <td></td>
                                <td>
                                    <div class="select-product">
                                        <select class="" name="">
                                        <option value="">Hello</option>
                                        <option value="">Hello</option>
                                        <option value="">Hello</option>
                                        <option value="">Hello</option>
                                    </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>
                                    <div class="question">
                                        <i class="fa fa-question"></i>
                                        <div class="answer"></div>
                                    </div>
                                </td>
                                <td><input type="text"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section class="peper-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-title">
                        <span>Personal informations</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <tbody>
                            <tr>
                                <td>Subject or discipline</td>
                                <td>
                                    <div class="question">
                                        <i class="fa fa-question"></i>
                                        <div class="answer"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="select-product">
                                        <select class="" name="">
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Title of your paper <sup>&#10033;</sup></td>
                                <td>
                                    <div class="question">
                                        <i class="fa fa-question"></i>
                                        <div class="answer"></div>
                                    </div>
                                </td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Type of assignment</td>
                                <td></td>
                                <td>
                                    <div class="select-product">
                                        <select class="" name="">
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Urgency</td>
                                <td>
                                    <div class="question">
                                        <i class="fa fa-question"></i>
                                        <div class="answer"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="select-product">
                                        <select class="" name="">
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Writer level</td>
                                <td>
                                    <div class="question">
                                        <i class="fa fa-question"></i>
                                        <div class="answer"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="select-product">
                                        <select class="" name="">
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Spacing</td>
                                <td></td>
                                <td>
                                    <div class="select-product">
                                        <select class="" name="">
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Currency</td>
                                <td></td>
                                <td>
                                    <div class="select-product">
                                        <select class="" name="">
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr class="cost-per-page">
                                <td>Cost per page</td>
                                <td></td>
                                <td>
                                    <span class="ml_15 color-span">12.99</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Number of pages</td>
                                <td>
                                    <div class="question">
                                        <i class="fa fa-question"></i>
                                        <div class="answer"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="select-product">
                                        <select class="" name="">
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr class="checkbox-d">
                                <td>1-page summary of your paper</td>
                                <td>
                                    <div class="question">
                                        <i class="fa fa-question"></i>
                                        <div class="answer"></div>
                                    </div>
                                </td>
                                <td>
                                    <label for="">
                                        <input type="checkbox">
                                        <span class="price">12.99</span>
                                        <span class="currency">USD</span>
                                    </label>
                                </td>
                            </tr>
                            <tr class="checkbox-d">
                                <td>Draft of your paper</td>
                                <td>
                                    <div class="question">
                                        <i class="fa fa-question"></i>
                                        <div class="answer"></div>
                                    </div>
                                </td>
                                <td>
                                    <label for="">
                                        <input type="checkbox">
                                        <span class="price">12.99</span>
                                        <span class="currency">USD</span>
                                    </label>
                                </td>
                            </tr>
                            <tr class="checkbox-d">
                                <td>Speaker notes</td>
                                <td>
                                    <div class="question">
                                        <i class="fa fa-question"></i>
                                        <div class="answer"></div>
                                    </div>
                                </td>
                                <td>
                                    <label for="">
                                        <input type="checkbox">
                                        <span class="price">12.99</span>
                                        <span class="currency">USD</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>APA</td>
                                <td></td>
                                <td>
                                    <div class="select-product">
                                        <select class="" name="">
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                            <option value="">Hello</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Number of sources / references <sup>&#10033;</sup></td>
                                <td></td>
                                <td>
                                    <div class="radio">
                                        <label for="us" class="radio-input checked">
                                            <input type="radio" checked id="us" value="0">
                                            <span>US writer</span>
                                        </label>
                                        <label for="us5" class="radio-input">
                                            <input type="radio" id="us5" value="1">
                                            <span>UK writer (+5% to the order total)</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="cost-per-page">
                                <td>Total without discount</td>
                                <td></td>
                                <td>
                                    <span class="ml_15 color-span">12.99</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Your paper instructions <sup>&#10033;</sup></td>
                                <td></td>
                                <td>
                                    <textarea name="name" rows="8" cols="80"></textarea>
                                </td>
                            </tr>
                            <tr class="attachment">
                                <td>Attachment</td>
                                <td></td>
                                <td>
                                    <a href="#" class="btn-order-form">Add file</a>

                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="radio-agree">
                                        <label for="agree" class="checkbox-input">
                                            <input type="checkbox" id="agree" value="0">
                                            <span>US writer</span>
                                        </label><br>
                                        <label for="spam" class="checkbox-input">
                                            <input type="checkbox" id="spam" value="1">
                                            <span>UK writer (+5% to the order total)</span>
                                        </label>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>Discount code</td>
                                <td></td>
                                <td>
                                    <div class="discount-code">
                                        <input type="text">
                                        <a href="#" class="btn-order-form">Apply discount</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Speaker notes</td>
                                <td>
                                    <div class="question">
                                        <i class="fa fa-question"></i>
                                        <div class="answer"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="cancel">
                                        <input type="text">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="#" class="btn-order-form"><i class="fa fa-plus"></i>Add writer</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <p>Disclaimer: the service provided is meant to assist you by providing a guideline. The product provided is intended to be used for research or study purposes.</p>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="total-price">
                                        <p>Grand total price <span class="price">20.46</span> <span class="current">USD</span></p>
                                    </div>
                                </td>
                            </tr>
                            <tr class="order-now">
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="#" class="btn-order">order now</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
