<main class="prices">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="section-title">
                    <h2>Prices</h2>
                </header>
            </div>
        </div>
        <div class="prices-table">
            <div class="row">
                <div class="col-md-12">
                    <p>Confused about the difference in pricing of various writing services? We understand! Most services charge a set price-per-page, for anything from a high school 5-paragraph essay to a Ph.D. dissertation. This should raise an immediate
                        red flag to you. No honest and ethical service can do this without using second-rate writers and databases of pre-written papers.</p>
                </div>
            </div>
            <div class="table-panels">
                <div class="row d_f">
                    <div class="col-md-offset-1 col-md-3 col-sm-8 col-xs-7 o1">
                        <span>Currency:</span>
                        <div class="currency">
                            <input type="button" class="active" value="USD">
                            <input type="button" value="GBP">
                            <input type="button" value="EUR">
                            <input type="button" value="CAD">
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12 o2">
                        <span>Select product:</span>
                        <div class="select-product">
                            <select name="" id="">
                                <option value="">Essay</option>
                                <option value="">Hello</option>
                                <option value="">World</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-5 o3">
                        <span>Pages:</span>
                        <div class="number-pages">
                            <span class="minus"><i class="fa fa-minus"></i></span>
                            <input type="text" value="1">
                            <span class="plus"><i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                    <!-- <div class="col-xs-12 hidden-md hidden-lg">
                        <span>Select product:</span>
                        <div class="select-product">
                            <select name="" id="">
                                <option value="">Essay</option>
                                <option value="">Hello</option>
                                <option value="">World</option>
                            </select>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <table>
                        <thead>
                            <th>Deadline</th>
                            <th>High school</th>
                            <th>College</th>
                            <th>University</th>
                            <th>Master's</th>
                            <th>PhD</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>14 days</td>
                                <td>$7.50</td>
                                <td>$9.00</td>
                                <td>$11.25</td>
                                <td>$15.00</td>
                                <td>$15.00</td>
                            </tr>
                            <tr>
                                <td>7 days</td>
                                <td>$8.50</td>
                                <td>$9.75</td>
                                <td>$12.00</td>
                                <td>$15.75</td>
                                <td>$15.75</td>
                            </tr>
                            <tr>
                                <td>5 days</td>
                                <td>$8.50</td>
                                <td>$11.00</td>
                                <td>$13.00</td>
                                <td>$17.00</td>
                                <td>$17.00</td>
                            </tr>
                            <tr>
                                <td>3 days</td>
                                <td>$9.15</td>
                                <td>$12.75</td>
                                <td>$15.00</td>
                                <td>$18.75</td>
                                <td>$18.75</td>
                            </tr>
                            <tr>
                                <td>48 hours</td>
                                <td>$11.25</td>
                                <td>$12.00</td>
                                <td>$18.00</td>
                                <td>$22.50</td>
                                <td>$22.50</td>
                            </tr>
                            <tr>
                                <td>24 hours</td>
                                <td>$12.00</td>
                                <td>$16.50</td>
                                <td>$18.75</td>
                                <td>$24.75</td>
                                <td>$24.75</td>
                            </tr>
                            <tr>
                                <td>8 hours</td>
                                <td>$16.50</td>
                                <td>$21.00</td>
                                <td>$25.50</td>
                                <td>$27.50</td>
                                <td>$27.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid btn-order-section gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-xs-offset-3 col-xs-6">
                    <a href="#" class="btn-order">order now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="prices-content">
                    <p>At EssaysService.com, our pricing is uniquely designed to fit all of the factors involved in creating an original, professionally-written work at any academic level and with any deadline required. The tables that follow will provide
                        you important information about the cost of the work you need. The price-per-page is based upon double-spaced, standard font, of approximately 300 words per page.</p>
                    <p>You will note that prices-per-page vary depending upon the following:</p>
                    <ul class="list-style">
                        <li>Length of paper – the greater the length requirement, the less per page cost</li>
                        <li>Deadline – the price declines as the deadline time frame lengthens </li>
                        <li>Academic level – high school writing is less expensive than that of college and graduate levels</li>
                    </ul>
                    <p>Considering that we use degreed professionals who write each work from scratch as it is ordered, our prices are extremely reasonable. We are not the cheapest service, but we do not want to be. We are, however, as reasonable as you
                        will find for the quality we deliver.</p>
                    <p>There are many products and pricing levels that will meet your needs and fit your budget, and this is why so many students return to CompanyName.com over and over again. No matter what your writing need, we have the writer, the quality,
                        and the price for you!</p>
                    <p>We have a team of American and British professional writers who are committed to academic integrity. They produce authentic, original essays, research papers, term papers, theses, and dissertations, in part or whole, and stand ready
                        to assist you, no matter what the need.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services section-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="section-title">
                    <h2>Our Services</h2>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="service-content">
                    <div class="bg-title">
                        <span>Our Writers</span>
                    </div>
                    <div class="green-content">
                        <p>We employ only the best! Our writers are all degreed in their fields of expertise and have vast experience creating essays, reports, term and research papers. They know how to do the research, how to compile that research, analyze
                            it, and collate it into an organized essay, research paper, term paper, book report, coursework, thesis or dissertation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-content">
                    <div class="bg-title">
                        <span>Our Editors</span>
                    </div>
                    <div class="green-content">
                        <p>In addition to premier writers, we have a complete team of editors who review and proofread every piece written. Theycorrect any problems with research, research citation, organizational structure, data analysis and conclusions,
                            scan each created work with plagiarism detection software. We guarantee that the work you receive is an original, belongs to only you, and will never be sold to another. Clearly, you can count on us to do the job for you and
                            to exceed your greatest expectations. That's what a quality service delivers, and CompanyName.com is that quality service.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
