<main class="profile section-content">
    <div class="container">
        <div class="status-profile">
            <div class="row">
                <div class="col-md-12">
                    <ul class="status-list">
                        <li>Welcome, <span class="name">Andy Born</span></li>
                        <li>Account status: <span class="status">standart</span></li>
                        <li>Discount: <span class="discount">0%</span> [<a href="#" class="upgrade">upgrade to 15%</a>]</li>
                        <li>Discount code: <span class="discount-code">web@gmail.com</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid width-991">
        <div class="container width-991">
            <div class="navigation-profile">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10">
                        <ul class="nav">
                            <li><a href="#">my profile</a></li>
                            <li><a href="#">personal profile</a></li>
                            <li><a href="#">terms & conditions</a></li>
                            <li><a href="#">affiliate program</a></li>
                            <li><a href="#">log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-5">
                    <div class="personal-info">
                        <header>
                            <h3>Your Personal Information</h3>
                        </header>
                        <label for="login">Login (discount code)</label>
                        <input type="text" id="login">
                        <label for="password">Password</label>
                        <input type="password" id="password">
                        <label for="first-name">First name</label>
                        <input type="text" id="first-name">
                        <label for="last-name">Last name</label>
                        <input type="text" id="last-name">
                        <label for="password2">Password</label>
                        <input type="password" id="password2">
                        <label for="alt-password">Alternative password</label>
                        <input type="password" id="alt-password">
                        <span>Receive E-mail</span>
                        <label for="checkbox" class="checkbox"><input type="checkbox" id="checkbox"> I agree to receive phone calls from you at night in case of emergency</label>
                        <label for="phone">Contact phone</label>
                        <input type="tel" id="alt-password">
                        <label for="alt-phone">Alternative phone</label>
                        <input type="tel" id="alt-password">
                        <span>Allow night calls</span>
                        <label for="night" class="night"><input type="checkbox" id="night"> I agree to receive phone calls from you at night in case of emergency</label>
                        <a href="#" class="btn-read-more">save</a>

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="orders">
                        <header>
                            <h3>Processing orders</h3>
                            <h3>Completed orders</h3>
                        </header>
                        <div class="order">
                            <table>
                                <thead>
                                    <tr>
                                        <td>Date</td>
                                        <td>Order ID</td>
                                        <td>Title/Topic</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2016.02.18</td>
                                        <td class="order-id">0307722205</td>
                                        <td>test</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="order-list">
                                <li><a href="#">Order details</a></li>
                                <li><a href="#">Files (<span>0</span>)</a></li>
                                <li><a href="#">Messages (0/0)</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                        <div class="order">
                            <table>
                                <thead>
                                    <tr>
                                        <td>Date</td>
                                        <td>Order ID</td>
                                        <td>Title/Topic</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2016.02.18</td>
                                        <td class="order-id">0307722205</td>
                                        <td>test</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="order-list">
                                <li><a href="#">Order details</a></li>
                                <li><a href="#">Files (<span>0</span>)</a></li>
                                <li><a href="#">Messages (0/0)</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                        <div class="order">
                            <table>
                                <thead>
                                    <tr>
                                        <td>Date</td>
                                        <td>Order ID</td>
                                        <td>Title/Topic</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2016.02.18</td>
                                        <td class="order-id">0307722205</td>
                                        <td>test</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="order-list">
                                <li><a href="#">Order details</a></li>
                                <li><a href="#">Files (<span>0</span>)</a></li>
                                <li><a href="#">Messages (0/0)</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid btn-order-section gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-xs-offset-3 col-xs-6">
                    <a href="#" class="btn-order">order now</a>
                </div>
            </div>
        </div>
    </div>
</main>
