<main class="register">
    <div class="container">
        <div class="login-form">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">
                    <div class="bg-title">
                        <span>Register Form</span>
                        <button class="close">
                            <span class="close-line close-line-top"></span>
                            <span class="close-line close-line-bot"></span>
                        </button>
                    </div>
                    <div class="green-content">
                        <form action="">
                            <input type="email" placeholder="Email">
                            <input type="password" placeholder="Password">
                            <input type="password" placeholder="Confirm password">
                            <input type="text" placeholder="First name">
                            <input type="text" placeholder="Last name">
                            <input type="tel" placeholder="Phone">
                            <div class="btn-register">
                                <a href="#" class="btn-order"><i class="fa fa-angle-right"></i>Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
