<main class="samples">
    <div class="container">
        <div class="sample-item">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-title">
                        <span>Powerpoint Presentation</span>
                    </div>
                </div>
            </div>
            <div class="sample-content">
                <div class="row">
                    <div class="col-md-3 col-sm-2 col-xs-4">
                        <div class="image-download">
                            <a href="#"><img src="img/pdf.png" alt="download"></a>
                        </div>
                        <div class="order-now">
                            <a href="#" class="btn-order">order now</a>
                        </div>
                    </div>
                    <div class="col-xs-8 hidden-md hidden-lg">
                        <div class="discount">
                            <p>Get <span>20%</span> discount on the first order</p>
                        </div>
                        <div class="sample-price">
                            <p>You can order your custom written paper NOW</p>
                            <p class="prices-from">Prices from <span>$11.99/page</span></p>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Topic:</td>
                                    <td>Business Ethics Behavior</td>
                                </tr>
                                <tr>
                                    <td>Number of pages:</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Urgency:</td>
                                    <td>7 days</td>
                                </tr>
                                <tr>
                                    <td>Style:</td>
                                    <td>APA</td>
                                </tr>
                                <tr>
                                    <td>Number of sourses:</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Academic level:</td>
                                    <td>High School</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 hidden-md hidden-lg">
                        <div class="order-now-991">
                            <a href="#" class="btn-order">order now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sample-footer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="sample-price">
                            <p>You can order your custom written paper NOW</p>
                            <p class="prices-from">Prices from <span>$11.99/page</span></p>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-7">
                        <div class="discount">
                            <div class="discount-5">
                                <span class="number">-5%</span>
                                <span>discounts</span>
                            </div>
                            <p>Get <span>20%</span> discount on the first order</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sample-item">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-title">
                        <span>Powerpoint Presentation</span>
                    </div>
                </div>
            </div>
            <div class="sample-content">
                <div class="row">
                    <div class="col-md-3 col-sm-2 col-xs-4">
                        <div class="image-download">
                            <a href="#"><img src="img/pdf.png" alt="download"></a>
                        </div>
                        <div class="order-now">
                            <a href="#" class="btn-order">order now</a>
                        </div>
                    </div>
                    <div class="col-xs-8 hidden-md hidden-lg">
                        <div class="discount">
                            <p>Get <span>20%</span> discount on the first order</p>
                        </div>
                        <div class="sample-price">
                            <p>You can order your custom written paper NOW</p>
                            <p class="prices-from">Prices from <span>$11.99/page</span></p>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Topic:</td>
                                    <td>Business Ethics Behavior</td>
                                </tr>
                                <tr>
                                    <td>Number of pages:</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Urgency:</td>
                                    <td>7 days</td>
                                </tr>
                                <tr>
                                    <td>Style:</td>
                                    <td>APA</td>
                                </tr>
                                <tr>
                                    <td>Number of sourses:</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Academic level:</td>
                                    <td>High School</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 hidden-md hidden-lg">
                        <div class="order-now-991">
                            <a href="#" class="btn-order">order now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sample-footer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="sample-price">
                            <p>You can order your custom written paper NOW</p>
                            <p class="prices-from">Prices from <span>$11.99/page</span></p>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-7">
                        <div class="discount">
                            <div class="discount-5">
                                <span class="number">-5%</span>
                                <span>discounts</span>
                            </div>
                            <p>Get <span>20%</span> discount on the first order</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sample-item">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-title">
                        <span>Powerpoint Presentation</span>
                    </div>
                </div>
            </div>
            <div class="sample-content">
                <div class="row">
                    <div class="col-md-3 col-sm-2 col-xs-4">
                        <div class="image-download">
                            <a href="#"><img src="img/pdf.png" alt="download"></a>
                        </div>
                        <div class="order-now">
                            <a href="#" class="btn-order">order now</a>
                        </div>
                    </div>
                    <div class="col-xs-8 hidden-md hidden-lg">
                        <div class="discount">
                            <p>Get <span>20%</span> discount on the first order</p>
                        </div>
                        <div class="sample-price">
                            <p>You can order your custom written paper NOW</p>
                            <p class="prices-from">Prices from <span>$11.99/page</span></p>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Topic:</td>
                                    <td>Business Ethics Behavior</td>
                                </tr>
                                <tr>
                                    <td>Number of pages:</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Urgency:</td>
                                    <td>7 days</td>
                                </tr>
                                <tr>
                                    <td>Style:</td>
                                    <td>APA</td>
                                </tr>
                                <tr>
                                    <td>Number of sourses:</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Academic level:</td>
                                    <td>High School</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 hidden-md hidden-lg">
                        <div class="order-now-991">
                            <a href="#" class="btn-order">order now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sample-footer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="sample-price">
                            <p>You can order your custom written paper NOW</p>
                            <p class="prices-from">Prices from <span>$11.99/page</span></p>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-7">
                        <div class="discount">
                            <div class="discount-5">
                                <span class="number">-5%</span>
                                <span>discounts</span>
                            </div>
                            <p>Get <span>20%</span> discount on the first order</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="samples-navigation">
                    <ul class="nav">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>...</li>
                        <li><a href="#">6</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
