<main class="single">
    <div class="container">
        <div class="post-content">
            <div class="post">
                <div class="row">
                    <div class="col-md-2">
                        <div class="left-info">
                            <div class="data">
                                <span class="month">AUG</span>
                                <span class="day">3</span>
                                <span class="year">2014</span>
                            </div>
                            <div class="comments">
                                <a href="#"><span class="number-comment">12</span>comments</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 line-dashed">
                        <div class="circle"></div>
                        <div class="right-blog">
                            <div class="blog-image">
                                <img src="img/blog.png" alt="blog">
                            </div>
                            <div class="posted">
                                <p>posted by <a href="#">sara brash</a></p>
                            </div>
                            <div class="name-of-blog">
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </div>
                            <div class="description-of-blog">
                                <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium quality essays, term papers, and research papers.</p><br>
                                <p>Once you place an order and provide all the necessary instructions, one of our writers will start working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree in the respective area of expertise, which makes it possible for him/her to find the relevant information, carry out exhaustive research, and develop a comprehensible and well-organized document.</p><br>
                                <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium quality essays, term papers, and research papers.</p><br>
                                <p>Once you place an order and provide all the necessary instructions, one of our writers will start working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree in the respective area of expertise, which makes it possible for him/her to find the relevant information, carry out exhaustive research, and develop a comprehensible and well-organized document. </p><br>
                                <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium quality essays, term papers, and research papers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comments-form">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="comments-content">
                            <header>
                                <h3>Comments</h3>
                            </header>
                            <div class="comment">
                                <div class="image-user">
                                    <img src="img/user.png" alt="">
                                </div>
                                <div class="comment-content">
                                    <div class="name-date">
                                        <a href="#" class="name-user">Megan</a>
                                        <div class="date-content">
                                            <span class="date">November 10, 2015</span> at <span class="time">7.55</span>
                                        </div>
                                    </div>
                                    <div class="comment-desc">
                                        <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing... <a href="#">Continue reading </a></p>
                                    </div>
                                    <div class="reply-likes">
                                        <a href="#" class="reply">Reply<i class="icon-reply"></i></a>
                                        <div class="likes">
                                            <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i></a><span class="sum-likes">13</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment comment-under">
                                <div class="image-user">
                                    <img src="img/user.png" alt="">
                                </div>
                                <div class="comment-content">
                                    <div class="name-date">
                                        <a href="#" class="name-user">Megan</a>
                                        <div class="date-content">
                                            <span class="date">November 10, 2015</span> at <span class="time">7.55</span>
                                        </div>
                                    </div>
                                    <div class="comment-desc">
                                        <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing... <a href="#">Continue reading </a></p>
                                    </div>
                                    <div class="reply-likes">
                                        <a href="#" class="reply">Reply<i class="icon-reply"></i></a>
                                        <div class="likes">
                                            <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i></a><span class="sum-likes">13</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="image-user">
                                    <img src="img/user.png" alt="">
                                </div>
                                <div class="comment-content">
                                    <div class="name-date">
                                        <a href="#" class="name-user">Megan</a>
                                        <div class="date-content">
                                            <span class="date">November 10, 2015</span> at <span class="time">7.55</span>
                                        </div>
                                    </div>
                                    <div class="comment-desc">
                                        <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing... <a href="#">Continue reading </a></p>
                                    </div>
                                    <div class="reply-likes">
                                        <a href="#" class="reply">Reply<i class="icon-reply"></i></a>
                                        <div class="likes">
                                            <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i></a><span class="sum-likes">13</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="image-user">
                                    <img src="img/user.png" alt="">
                                </div>
                                <div class="comment-content">
                                    <div class="name-date">
                                        <a href="#" class="name-user">Megan</a>
                                        <div class="date-content">
                                            <span class="date">November 10, 2015</span> at <span class="time">7.55</span>
                                        </div>
                                    </div>
                                    <div class="comment-desc">
                                        <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing... <a href="#">Continue reading </a></p>
                                    </div>
                                    <div class="reply-likes">
                                        <a href="#" class="reply">Reply<i class="icon-reply"></i></a>
                                        <div class="likes">
                                            <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i></a><span class="sum-likes">13</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="image-user">
                                    <img src="img/user.png" alt="">
                                </div>
                                <div class="comment-content">
                                    <div class="name-date">
                                        <a href="#" class="name-user">Megan</a>
                                        <div class="date-content">
                                            <span class="date">November 10, 2015</span> at <span class="time">7.55</span>
                                        </div>
                                    </div>
                                    <div class="comment-desc">
                                        <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing... <a href="#">Continue reading </a></p>
                                    </div>
                                    <div class="reply-likes">
                                        <a href="#" class="reply">Reply<i class="icon-reply"></i></a>
                                        <div class="likes">
                                            <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i></a><span class="sum-likes">13</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="image-user">
                                    <img src="img/user.png" alt="">
                                </div>
                                <div class="comment-content">
                                    <div class="name-date">
                                        <a href="#" class="name-user">Megan</a>
                                        <div class="date-content">
                                            <span class="date">November 10, 2015</span> at <span class="time">7.55</span>
                                        </div>
                                    </div>
                                    <div class="comment-desc">
                                        <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing... <a href="#">Continue reading </a></p>
                                    </div>
                                    <div class="reply-likes">
                                        <a href="#" class="reply">Reply<i class="icon-reply"></i></a>
                                        <div class="likes">
                                            <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i></a><span class="sum-likes">13</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-panel">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="comment-navigation">
                                            <ul class="nav">
                                                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                                <li><a href="#" class="active">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>...</li>
                                                <li><a href="#">6</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="see-comments">
                                            <a href="#" class="btn-read-more">see all comments</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reply">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="reply-form">
                            <header>
                                <h3>Leave a reply</h3>
                                <p>Your email address will not be published. Required fields are marked<sup>&#10033;</sup></p>
                            </header>
                            <div class="reply-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="first-name">Name<sup>&#10033;</sup></label>
                                        <input type="text" id="first-name">
                                        <label for="name">Email<sup>&#10033;</sup></label>
                                        <input type="text" id="email">
                                        <label for="last-name">Name<sup>&#10033;</sup></label>
                                        <input type="text" id="last-name">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="message-area">
                                            <label for="message">Comments</label>
                                            <textarea name="message" id="message"></textarea>
                                            <a href="#" class="btn-read-more">post comments</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
