<main class="testimonials section-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="section-title">
                    <h2>What our customer says?</h2>
                </header>
            </div>
        </div>
        <div class="testimonials-panel">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <ul class="nav">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>...</li>
                        <li><a href="#">6</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-offset-7 col-md-2 col-xs-offset-3 col-xs-6">
                    <a href="#" class="btn-testimonials">leave reply</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <article class="testimonail-item gray-content">
                    <p>We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students
                        to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work
                        from CompanyName.com.</p>
                    <span class="author">Dr. Patricia Lolland, Houston, TX</span>
                </article>
            </div>
            <div class="col-md-12">
                <article class="testimonail-item gray-content">
                    <p>We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students
                        to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work
                        from CompanyName.com.</p>
                    <span class="author">Dr. Patricia Lolland, Houston, TX</span>
                </article>
            </div>
            <div class="col-md-12">
                <article class="testimonail-item gray-content">
                    <p>We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students
                        to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work
                        from CompanyName.com.</p>
                    <span class="author">Dr. Patricia Lolland, Houston, TX</span>
                </article>
            </div>
            <div class="col-md-12">
                <article class="testimonail-item gray-content">
                    <p>We, here at the university, would like to thank you for your exemplary work. It was recently brought to our attention that a number of our humanities professors were purchasing work from your website to use in their classes for students
                        to observe what a perfect paper looks like. After careful examination of the materials, our committee has concluded that this practice can prove to be quite beneficial to our students. We have observed nothing but perfect work
                        from CompanyName.com.</p>
                    <span class="author">Dr. Patricia Lolland, Houston, TX</span>
                </article>
            </div>
        </div>
        <div class="testimonials-panel pad_bot_none">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>...</li>
                        <li><a href="#">6</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="reply-form">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="bg-title">
                        <span>Contact Form</span>
                    </div>
                    <!-- bg title -->
                    <div class="green-content">
                        <form class="" action="index.html" method="post">
                            <div class="row">
                                <div class="col-md-3">
                                    <span>Your name</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="" value="">
                                </div>
                                <div class="col-md-3">
                                    <span>Comment</span>
                                </div>
                                <div class="col-md-9">
                                    <textarea name="name"></textarea>
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <span>Your mark</span>
                                </div>
                                <div class="col-md-9 col-xs-9">
                                    <fieldset class="rating">
                                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="5 stars"></label>
                                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="4.5 stars"></label>
                                        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="4 stars"></label>
                                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="3.5 stars"></label>
                                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="3 stars"></label>
                                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="2.5 stars"></label>
                                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="2 stars"></label>
                                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="1.5 stars"></label>
                                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="1 star"></label>
                                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="0.5 stars"></label>
                                    </fieldset>
                                </div>
                                <div class="col-md-offset-8 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6">
                                    <a href="#" class="btn-order"><i class="fa fa-angle-right"></i>Send</a>
                                </div>
                            </div>
                            <!-- row -->
                        </form>
                    </div>
                    <!-- green content -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- contact form -->
    </div>
</main>
